@import "~tt-assets/styles/colors.sass"

//TODO rename classes 'Components'

.dictionary-components-page
  position: relative

  &.form
    min-height: calc(100vh - 64px)

  .filter-button
    position: absolute
    top: 33px
    right: 32px


.webix_ceil_text_row
  display: flex
  flex-flow: column

.remove-component-button
  margin-top: 12px

.users-table
  width: calc(98% - 24px)

.open-form-button
  width: 48px
  height: 48px
  display: flex
  align-items: center
  justify-content: center
  background: none
  opacity: .4
  transition: opacity 300ms ease-in-out
  &:hover
    opacity: 1
