@import "~tools/variables.sass"

.top-message__store-popup
  height: 140px
  display: flex
  justify-content: center
  overflow: hidden

  .top-message__background
    position: absolute
    width: 100%
    height: 100%

    &._main
      z-index: -2
      background: linear-gradient(107.45deg, #B15135 0%, #F16647 100%)
    &._shadow
      z-index: -1
      background: linear-gradient(254.21deg, #2A2C37 8.01%, rgba(124, 69, 52, 0.5) 59.97%)
      opacity: 0.3

  .store-popup__info-block__wrapper
    flex: 1 1 auto
    display: flex
    justify-content: center

  &._mobile
    @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
      height: 64px
      .store-popup__close-button
        .balloon-wrapper__close
          margin: 0 10px

      .store-popup__info-block
        &._small
          display: flex
        &._big
          display: none

  &._desktop
    @media (max-width: 649px)
      height: 64px
      .store-popup__close-button
        order: 0

        .balloon-wrapper__close
          margin: 0 10px

      .store-popup__info-block
        &._small
          display: flex
          flex-basis: auto
        &._big
          display: none

  ._white
    color: $color-white


.store-popup__info-block
  display: flex
  justify-content: space-around
  align-items: center
  padding-left: 10px
  &._small
    padding-left: 20px

  &._mobile
    flex: 0 1 726px
    @media (max-width: $tablet-width)
      flex-basis: 643px

  &._desktop
    flex: 0 1 861px
    @media (max-width: $tablet-width)
      flex-basis: 643px

  .magisteria-logo
    width: 48px
    height: auto
    margin-right: 10px

  .phone-image
    width: 135px
    height: auto
    margin-top: 10px
    margin-right: 10px
    display: block
    position: relative
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.35))

  .phone-image__main
    width: 100%
    height: 100%
    min-width: 135px
    margin-top: 6px

  .phone-image__pods
    position: absolute
    bottom: 0
    height: 70px
    width: auto
    right: -20px

  .text-block
    flex: 0 1 372px
    padding: 0
    align-self: center
    @media (max-width: $tablet-width)
      flex-basis: 319px

  .text-block__content
    margin-bottom: 4px

  .buttons-block
    display: flex
    flex-direction: row
    min-height: auto
    margin-left: 10px

    &._single
      justify-content: center
      min-width: 135px
    &._all
      justify-content: space-between
      min-width: 280px
      @media (max-width: $tablet-width)
        min-width: auto
        flex-direction: column
        min-height: 90px

  .store-button__link
    font-size: 14px
    margin-right: 10px

  &._big
    display: flex
  &._small
    display: none
    flex-basis: 345px

    .text-block
      flex-basis: 210px

    .buttons-block
      min-width: auto
      flex-direction: row
      align-items: baseline
      min-height: auto
      flex-basis: 75px

      .store-button
        width: 32px
        height: 32px
        &:first-child
          margin-right: 12px



.store-popup__close-button
  display: flex
  align-items: center


  .balloon-wrapper__close
    background: none
    padding: 0
    margin: 0 20px

    &:before, &:after
      background-color: $color-white-04

    &:hover
      &:before, &:after
        background-color: $color-white-06

.store-button
  outline: none
  display: flex
  margin: 0
  padding: 0
  border: none
  height: 40px
  width: 135px
  background: transparent

  img
    width: 100%
    height: auto

.store-popup__mobile-logo
  padding-right: 14px
  border-right: $border-white-03
  margin-right: 19px

  .store-button
    margin: 0
    height: auto
    padding: 1px 0
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.35))
    &._apple
      width: 26.68px
    &._android
      width: 29px