@import "~tools/variables.sass"
@import "~tools/mixins.sass"

.top-message__sale2021-popup
  background: linear-gradient(#CF5857, #8A063D)
  height: 140px
  display: flex
  justify-content: center
  overflow: hidden
  @media (max-width: $mobile-phone-width)
    height: 64px

  .sale2021-popup__info-block__wrapper
    display: flex
    max-width: 50%
    @media (max-width: $tablet-width)
      max-width: 70%

    .left-image, .right-image
      position: absolute
      top: 0
      z-index: 0
      height: 140px
      @media (max-width: $mobile-phone-width)
        height: 64px


    .left-image
      left: -35px
      width: 502px
      @media (max-width: $mobile-phone-width)
        width: 230px
        left: -76px

    .right-image
      right: -104px
      width: 525px
      @media (max-width: $mobile-phone-width)
        width: 240px
        right: -113px


  .text-block
    z-index: 1
    flex: 0 1 657px
    padding: 0
    align-self: center
    text-align: center

  .text-block__content
    margin-bottom: 12px
    @include font-pt-serif(33px, normal, 110%, #ffffff)
    @media (max-width: $tablet-width)
      font-size: 31px
    @media (max-width: $mobile-phone-width)
      font-size: 17px

    &._desktop
      display: block
      @media (max-width: 1024px)
        display: none
    &._mobile
      display: none
      @media (max-width: 1024px)
        display: block

  .text-block__text
    @include font-fira(16px, normal, 130%, #ffffff)
    @media (max-width: $tablet-width)
      font-size: 15px
    @media (max-width: $mobile-phone-width)
      font-size: 11px

    &._desktop
      display: block
      @media (max-width: $mobile-phone-width)
        display: none
    &._phone
      display: none
      @media (max-width: $mobile-phone-width)
        display: block

  .arrow
    position: absolute
    bottom: 0
    z-index: 1
    ._desktop
      padding-bottom: 6px
      display: block
      @media (max-width: $mobile-phone-width)
        display: none
    ._phone
      padding-bottom: 4px
      display: none
      @media (max-width: $mobile-phone-width)
        display: block



.sale2021-popup__close-button
  display: flex
  align-items: center
  position: absolute
  height: 100%
  right: 0


  .balloon-wrapper__close
    padding: 0
    margin: 0 20px
    height: 32px
    width: 32px
    border-radius: 50%
    background-color: $color-dark-03

    &:before, &:after
      background-color: $color-white-06

    &:hover
      background-color: $color-dark-06
      &:before, &:after
        background-color: $color-white

