$color-main-light: #ffffff
$orange: #C8684C

$grey01: #F8F8F8
$grey05: #E5E5E7
$grey20: #D2D2D6
$grey30: #B4B4BB
$grey40: #9696A0
$grey50: #787885
$grey60: #5A5B6A
$grey70: #4A4B57
$grey80: #3A3A44
$grey100: #19191D

$red: #C8372D
$bright-red: #E80000
$green: #43A047
$blue: #2979FF
$yellow: #F1A205


.team-task
  ._grey20
    color: $grey20

  ._grey50
    color: $grey50

  ._grey70
    color: $grey70

  ._grey100
    color: $grey100

  ._white
    color: $color-main-light

  ._black
    color: #000000
