@font-face
  font-family: 'Fira Sans'
  src: url("../../../fonts/FiraSans-Regular.woff2") format("woff2"), url("../../../fonts/FiraSans-Regular.woff") format("woff")
  font-weight: 400
  font-style: normal

.team-task
  h1
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 96px
    line-height: 118px
    letter-spacing: -1.75px

  h2
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 60px
    line-height: 80px
    letter-spacing: -1.5px

  h3
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 56px
    letter-spacing: -0.75px

  h4
    font-family: Inter
    font-style: normal
    font-weight: 900
    font-size: 34px
    line-height: 44px
    letter-spacing: -0.44px

  h5
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 36px

  h6
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 32px
    letter-spacing: 0.15px

  .font-h7
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.5px

  .font-title
    font-family: Inter
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.1px

  .font-body-l
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 32px
    letter-spacing: 0.44px

  .font-body-m
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.3px

  .font-body-s
    font-family: Inter
    font-style: normal
    //font-weight: normal
    font-weight: 400
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.25px

  .font-body-xs
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 18px
    letter-spacing: 0.15px

  .font-subtitle
    font-family: Inter
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.1px

  .font-button
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 17px
    letter-spacing: 0.75px

  .font-caption
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.4px

  .font-overline
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 16px
    letter-spacing: 1.5px
    text-transform: uppercase

  .font-overline-s
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 9px
    line-height: 16px
    letter-spacing: 1.3px
    text-transform: uppercase

  .font-h8
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.5px
