@import "colors"

.tt-grid
  &.webix_view
    border: none
    background-color: transparent
    box-sizing: border-box

  .webix_ss_header, .webix_ss_body
    background-color: $grey01

  .webix_ss_header
    margin-bottom: 20px

  .webix_hcell
    cursor: pointer
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 9px
    line-height: 16px
    letter-spacing: 1.3px
    text-transform: uppercase

  .webix_column
    &.webix_first
      .webix_cell
        border-top-left-radius: 8px
        border-bottom-left-radius: 8px

    &.webix_last
      .webix_cell
        border-top-right-radius: 8px
        border-bottom-right-radius: 8px

  .webix_cell
    position: relative
    cursor: pointer
    //display: flex
    height: 72px
    margin-bottom: 8px
    background: $color-main-light
    border: none
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.25px
    color: $grey100
    transition: background-color 300ms ease

  ._container
    .webix_cell
      display: flex

  ._number-field
    text-align: right

  .row-hover
    background-color: rgba(25, 25, 29, .03)

  .webix_column
    &>div.webix_row_select
      background-color: inherit
      color: inherit
    .webix_row_select
      border-bottom: 1px solid #61BF76
      border-top: 1px solid #61BF76
    &.webix_last
      .webix_row_select
        border-right: 1px solid #61BF76
    &.webix_first
      .webix_row_select
        border-left: 1px solid #61BF76

  .grid-button
    margin: auto
    height: 48px
    width: 24px
    cursor: pointer
    background-size: contain
    background-origin: border-box
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    opacity: 0
    transition: opacity 300ms ease-in
    &._edit
      background-image: url("~tt-assets/png/pencil.png")
    &._delete
      background-image: url("~tt-assets/png/trash.png")

  .row-hover
    .grid-button
      opacity: 1

.webix_ss_sort_desc:before, .webix_ss_sort_asc:before
  content: "" !important
  position: absolute
  top: 50%
  right: 2px

  width: 6px
  height: 6px
  border: 1px solid #9696A0
  border-left: none
  border-top: none
  -webkit-transition: -webkit-transform 0.3s ease
  transition: -webkit-transform 0.3s ease
  transition: transform 0.3s ease, -webkit-transform 0.3s ease

.webix_ss_sort_desc:before
  -webkit-transform: translateY(-50%) rotate(45deg)
  -ms-transform: translateY(-50%) rotate(45deg)
  transform: translateY(-50%) rotate(45deg)


.webix_ss_sort_asc:before
  -webkit-transform: translateY(-50%) rotate(-135deg)
  -ms-transform: translateY(-50%) rotate(-135deg)
  transform: translateY(-50%) rotate(-135deg)
  margin-top: -3px

.webix_ss_sort_single .webix_ss_sort_num
  display: none



