.details-list
  position: relative
  overflow-x: scroll
  padding: 0 !important

  &.form
    min-height: calc(100vh - 64px)

  .filter-button
    position: absolute
    top: 33px
    right: 32px


.sticky-header

  .webix_ss_header
    position: sticky
    top: 0

.webix_ceil_text_row
  display: flex
  flex-flow: column

.remove-user-button
  margin-top: 12px

.details-list-table
  margin-top: 28px
  width: calc(98% - 24px)

.open-form-button
  width: 48px
  height: 48px
  display: flex
  align-items: center
  justify-content: center
  background: none
  opacity: .4
  transition: opacity 300ms ease-in-out

  &:hover
    opacity: 1

.add-fully-created // todo it's for add created(comlpete/fully created) events/periods
  align-items: center
  justify-content: space-around
  width: 145px
  font-size: 8px !important
  line-height: 8px !important
  padding: 0 !important

.sticky-block
  display: flex
  flex-flow: wrap row
  z-index: 5
  position: sticky
  top: 0
  left: 0
  width: fill-available
  background: rgb(253, 253, 253)
  border-radius: 10px
  border: none
  box-shadow: 1px 1px 1px 1px rgb(239, 239, 239)

  h5
    margin-left: 10px
    flex: 1 0 100%
