.details-list
  position: relative
  padding: 0 !important

  &.form
    min-height: calc(100vh - 64px)

  .filter-button
    position: absolute
    top: 33px
    right: 32px


.sticky-header
  .webix_ss_header
    position: sticky
    top: 0

.webix_ceil_text_row
  display: flex
  flex-flow: column

.remove-user-button
  margin-top: 12px

.details-list-table
  width: calc(98% - 24px)

.open-form-button
  width: 48px
  height: 48px
  display: flex
  align-items: center
  justify-content: center
  background: none
  opacity: .4
  transition: opacity 300ms ease-in-out
  &:hover
    opacity: 1


.sticky-block
  z-index: 5
  position: sticky
  top: 0
  background: rgb(253, 253, 253)
  border-radius: 10px
  border: none
  box-shadow: 1px 1px 1px 1px rgb(239, 239, 239)

