@import "~tools/variables.sass"

.course-wrapper__reviews
  margin-top: 48px

  //.course-wrapper__more-button span
    border: none

.reviews__list
  border-left: 2px solid rgba(47, 47, 47, 0.08)
  -webkit-transition: max-height 0.5s ease
  transition: max-height 0.5s ease
  font-family: $font-fira !important
  &._expanded
    max-height: 10000px

  .reviews__list-item
    margin: 19px 0 0 32px
    @media(max-width: $mobile-phone-width)
      margin: 10px 0 0 20px
    &:not(:first-child)
      margin-top: 25px

  .list-item__header
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 24px
    @media(max-width: $mobile-phone-width)
      align-items: flex-start
      flex-direction: column
      margin-bottom: 14px

    .user-name
      margin-right: 15px
      @media(max-width: $mobile-phone-width)
        margin-right: 0
      &._link
        -webkit-transition: border-color 0.3s ease
        transition: border-color 0.3s ease
        border-bottom: $border-hidden-link
        &:hover
          border-bottom: $border-orange-03

    .review-date
      color: $color-dark-06


  .list-item__text-block
    position: relative
    .text
      max-height: 1000px
      -webkit-transition: max-height 0.5s ease
      transition: max-height 0.5s ease
      font-family: $font-fira !important
      //&._short
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 7 /* number of lines to show */
        line-height: 18px        /* fallback */
        max-height: 126px       /* fallback */

    //.hack
      opacity: 0
      z-index: -100
      position: absolute
      top: 0

    .more-trigger
      color: $color-orange
      position: relative
      display: inline-block
      float: right
      margin: 6px 0 8px
      cursor: pointer
      font-size: 14px
