@import "~tt-assets/styles/colors"

.outer-background
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,0.3)
  z-index: 4

.inner-content
  overflow: auto
  display: flex
  flex-flow: column
  row-gap: 15px
  align-items: center
  border-radius: 8px
  background: #FFFFFF
  box-shadow: 0px 2px 10px rgba(41, 42, 49, 0.12)
  position: relative
  box-sizing: border-box
  padding: 16px 16px 16px 16px
  width: auto
  max-width: unset !important

  .title
    align-self: flex-start


.email-field
  display: flex
  flex-flow: row nowrap
  column-gap: 10px

.right-form
  display: flex
  flex-flow: column nowrap
  justify-content: space-between

  .fields-container
    display: flex
    flex-flow: row nowrap
    width: 100%
    justify-content: space-between

  .left-side
    width: 30%
    display: flex
    min-width: 240px
    max-width: 400px
    flex-flow: column nowrap
    row-gap: 10px

  .right-side
    width: 60%
    min-width: 240px
    max-width: 400.5px
    padding-left: 20px


.right-form__field
  min-width: 170.8px
  width: 100%
  height: 50px

  .rs-sidenav-default
    background-color: transparent

  &.permissions
    display: none

.inner-content__close-button
  position: absolute
  right: 5px
  top: 5px
  padding: 15px
  font-size: 0
  cursor: pointer
  background-color: transparent
  &:before, &:after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    width: 15px
    height: 2px
    background-color: $grey40
    -webkit-transition: background-color 0.3s ease
    transition: background-color 0.3s ease
  &:before
    -webkit-transform: translate(-50%, -50%) rotate(45deg)
    -ms-transform: translate(-50%, -50%) rotate(45deg)
    transform: translate(-50%, -50%) rotate(45deg)
  &:after
    -webkit-transform: translate(-50%, -50%) rotate(-45deg)
    -ms-transform: translate(-50%, -50%) rotate(-45deg)
    transform: translate(-50%, -50%) rotate(-45deg)


.right-form__confirm-button
  margin-left: auto

.search-button
  border-radius: 8px

a.rs-btn.rs-btn-subtle
  padding-left: 5px


.action-buttons
  margin-top: 20px
