.filters-row {
    max-height: 0;
    overflow: hidden;
    border-bottom: none;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
}

.filters-row.opened {
    max-height: 96px;
    border-bottom: 1px solid rgba(47, 47, 47, 0.15);
}

.filters-row__wrapper {
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 60px;
    max-width: 100%;
    overflow: auto;
}

/*@media (max-width: 1279px) {
    .filters-row__wrapper {
        padding-bottom: 30px; } }
@media (max-width: 1023px) {
    .filters-row__wrapper {
        padding-bottom: 60px; } }*/

.filters-row__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filters-row__label {
    position: relative;
    margin: 0 19px 0 57px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
}

.filters-row__label:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(200, 104, 76, 0.6);
}

.filters-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.filters-list li {
    margin-right: 19px;
}

.filter-btn {
    display: block;
    padding: 7px 18px;
    text-align: center;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #2f2f2f;
    white-space: nowrap;
    background-color: rgba(200, 104, 76, 0.3);
    border-radius: 4px;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.filter-btn img {
    cursor: pointer;
}

@media (max-width: 899px) {
    .filter-btn {
        margin-bottom: 14px;
    }
}

.filter-btn:hover {
    background-color: rgba(200, 104, 76, 0.5);
}

.active .filter-btn {
    color: #fff;
    background-color: #2f2f2f;
}

@media (max-width: 899px) {
    .active .filter-btn {
        color: #2f2f2f;
        background-color: #fff;
    }
}

.filter-btn__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.filter-btn__index {
    padding-left: 2px;
    padding-right: 1px;
    font-size: 9px;
    line-height: 13px;
}