.menu-trigger {
    position: absolute;
    right: 9px;
    top: 25px;
    display: none;
    width: 36px;
    height: 28px;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.menu-trigger:focus {
    outline: none;
}

.menu-trigger span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -1px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #2f2f2f;
}

.opened .menu-trigger span {
    background-color: rgba(255, 255, 255, 0);
}

.menu-trigger span:before, .menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: #2f2f2f;
}

.opened .menu-trigger span:before, .opened .menu-trigger span:after {
    top: 0;
    right: auto;
    width: 20px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-trigger span:before {
    top: 6px;
}

.opened .menu-trigger span:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-trigger span:after {
    bottom: 6px;
}

.opened .menu-trigger span:after {
    bottom: auto;
}

@media (max-width: 899px) {
    .menu-trigger {
        display: block;
    }
}