@import "~tools/variables.sass"

.lecture-wrapper.mobile
  //@media (max-width: $tablet-width)
  height: calc(100vh - 103px)
  margin-top: 53px
  .lecture-frame__fav
    top: 73px
    @media (max-width: $tablet-width)
      top: 20px
      right: 20px
    @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
      top: 10px
      right: 10px

  //.lecture-frame__play-block-wrapper
    top: 0
    height: 100%
    left: 0
    width: 100%
    transform: none
    //display: flex
  //.lecture-frame__play-block
    margin: 50% auto auto


.lesson-player
  &.mobile
    &.added
      @media (max-width: $tablet-width)
        height: calc(100vh - 120px)

      .player-frame__poster
        height: calc(100vh - 270px)

  &.desktop
    &.added
      //@media (max-width: $tablet-width)
      height: calc(100vh - 53px)

      .player-frame__poster
        height: calc(100vh - 220px)


.lecture-wrapper
  .ws-container
    margin-top: 14px
    height: calc(100% - 13px)

  &.mobile
    .play-btn-big
      &:after
        @media (max-width: $tablet-width)
          border-width: 26px 0 26px 58px

    .cover .lecture-frame__play-btn
      @media (max-width: $tablet-width)
        top: 19px
      @media (max-width: $mobile-phone-width)
        top: -25px

    .lecture-frame__duration
      @media (max-width: $tablet-width)
        top: -25px
      @media (max-width: $mobile-phone-width)
        //position: absolute
        top: -63px

    .title-paragraph
      @media (max-width: $tablet-width)
        text-indent: 75px
      @media (max-width: $mobile-phone-width)
        text-indent: 0



  @media (max-width: $tablet-width), (max-height: $tablet-width)
    .social-btn
      border-color: transparent
      border-radius: 50px
      background: $color-white-02
      min-width: 48px
      justify-content: center

    .social-btn__icon svg
      width: 18px
      height: 18px

    .social-btn._active
      border-right: none
      margin-right: 6px
      min-width: 58px

      .social-btn__actions
        min-width: auto


.lesson-player

  &.added
    .lesson-navigate-block
      .lesson-tooltip
        left: 0


.lesson-navigate-block
  display: flex
  margin-left: 28px
  margin-right: 20px

  .lesson-tooltip
    position: absolute
    min-width: 460px
    left: 16px
    bottom: 76px
    z-index: -1
    opacity: 0
    -webkit-transition: opacity 0.7s ease
    transition: opacity 0.7s ease

  button
    &._disabled
      svg
        fill-opacity: 0.5

    &:hover + .lesson-tooltip
      opacity: 1