@import "~tt-assets/styles/colors.sass"

.details-list
  position: relative
  background-color: #FFFFFF
  border-radius: 8px
  padding: 16px
  width: 100%
  box-shadow: 1px 1px 1px 1px rgb(239, 239, 239)
  height: calc(100vh - 64px)
  display: flex
  flex-direction: column
  box-sizing: border-box

  &.disabled
    pointer-events: none
    opacity: 0.5

  .form-header
    margin: 0 0 0 8px

  .filter-button
    position: absolute
    top: 33px
    right: 32px

.sticky-header
  .webix_ss_header
    position: sticky
    top: 0

.webix_ceil_text_row
  display: flex
  flex-flow: column

.remove-user-button
  margin-top: 12px

.details-list-table
  //padding: 8px
  //margin-top: 28px
  width: calc(100% - 16px)
  height: 100%

.open-form-button
  width: 48px
  height: 48px
  display: flex
  align-items: center
  justify-content: center
  background: none
  opacity: .4
  transition: opacity 300ms ease-in-out

  &:hover
    opacity: 1

.add-fully-created // todo it's for add created(comlpete/fully created) events/periods
  align-items: center
  justify-content: space-around
  width: 145px
  font-size: 8px !important
  line-height: 8px !important
  padding: 0 !important

.sticky-block
  display: flex
  flex-flow: wrap row

  h5
    margin-left: 10px
    flex: 1 0 100%


.state-template-block
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  color: $color-main-light
  box-sizing: border-box
  width: 100%
  font-size: 12px !important
  text-align: center !important
  //margin-top: 10px
  border-radius: 4px
  height: 100%



  .state-circle
    border-radius: 50%
    width: 14px
    height: 14px

    &._draft
      background-color: $blue

    &._executing
      background-color: $yellow

    &._done
      background-color: $green

    &._error
      background-color: $red

