/* скроллер */
.iScrollIndicator {
  cursor: pointer;
  background: rgba(47,51,55,.6);
  border: 1px solid rgba(255,255,255,.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 0;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  width: 0.5em;
}
.iScrollVerticalScrollbar{
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  width: 0.5em
}

.iScrollVerticalScrollbar.is-hover, .iScrollVerticalScrollbar:hover
  width .75em


.iScrollVerticalScrollbar.is-hover .iScrollIndicator, .iScrollIndicator:hover{
  border-radius: 3px;
  background: rgba(47,51,55,.8);
  border: 1px solid rgba(255,255,255,.1);
}

.iScrollHorizontalScrollbar{
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  height: 0.5em
}

.iScrollHorizontalScrollbar.is-hover, .iScrollHorizontalScrollbar:hover{
  height:.75em;
}

.iScrollHorizontalScrollbar.is-hover .iScrollIndicator, .iScrollIndicator:hover{
  border-radius: 3px;
  background: rgba(47,51,55,.8);
  border: 1px solid rgba(255,255,255,.1);
}
