@import "~tools/variables"

.course-wrapper__extended-info
  max-height: 0
  overflow: hidden
  -webkit-transition: max-height 0.5s ease
  transition: max-height 0.5s ease

  &._visible
    max-height: 10000px

  .course__video-block
    padding-bottom: 21px

    .video-block__item
      margin: 0
      width: 100%

  .video-frame__title
    margin-top: 5px
    font-size: 14px
    line-height: 124%

  .block-wrapper
    margin: 20px 0 21px
    color: $color-main-dark

  .extended-info__aims
    margin-bottom: 24px

  .block-title
    font-family: $font-fira
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 34px

  .block-descr
    font-family: $font-pt
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 130%

  .target-audience__text
    margin-top: 23px

  .aims__text
    margin-top: 30px