@import "../../../../styles/variables"

.player-block__info
  padding-right: 14px
  text-align: right
  font-family: "Fira Sans", Arial, sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: $color-white