{
  "presets": ["stage-0", "es2015", "react"], //поддержка ES2015, ES7 и JSX
//  "presets": ["latest", "react"], //поддержка ES2015, ES7 и JSX
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-assign",
    "es6-promise",
    "transform-decorators-legacy"
  ]
}