{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["fast-async", {"useRuntimeModule": true}],
    "transform-function-bind",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}