{
  "presets": ["es2015", "stage-0", "react", "env"], //поддержка ES2015, ES7 и JSX "@babel/preset-flow"
  "plugins": [
    ['transform-runtime', {
      helpers: false,
      polyfill: false,
      regenerator: true, }],
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-assign",
    "es6-promise",
    "transform-decorators-legacy",
  ]
}
