@import "~tools/variables"

.course-scheme__test
  display: flex
  padding: 15px 0 15px
  position: relative
  border-bottom: $border-dark-02

  .test__complete-status._gray
    fill: $color-dark-02

  .test__info-wrapper
    margin-left: 10px

  .test__name
    //flex-grow: 1
    //font-family: $font-fira
    //font-style: normal
    //font-weight: normal
    font-size: 15px
    line-height: 130%
    color: $color-main-dark
    //span
    //  border-bottom: $border-hidden-link
    //  -webkit-transition: border-color 0.3s ease
    //  transition: border-color 0.3s ease
    //&:hover
    //  span
    //    border-bottom: $border-orange-03


  .test__time
    //font-family: $font-fira
    //font-style: normal
    //font-weight: normal
    //font-size: 14px
    //line-height: 18px
    //letter-spacing: 0.01em
    color: $color-dark-06
    //align-self: center