@import "~tools/variables"

.lesson__test-list
  position: relative
  margin: 0 0 0 56px

  .lectures-list__test
    border-top: $border-dark-02
    &::after
      border: none

._dark .lesson__test-list .lectures-list__test
  border-top: $border-white-02