@import "~tools/variables"

.lesson__test-list
  position: relative
  margin: 0 0 0 56px
  //padding: 0 6px 0 0

  .lectures-list__test
    //padding-left: 0
    border-top: $border-white-02
    &::after
      border: none