.editor-form
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  width: 100%

.editor-form__two-pane-container
  display: flex
  flex-flow: row nowrap
  width: 100%
  justify-content: space-between
  column-gap: 15px

  .left-pane
    flex-basis: 40%
    max-width: 350px

  .right-pane
    min-width: 300px
    flex: 1 0 60%

  .with-fields-column
    display: flex
    flex-flow: column
    row-gap: 16px

.editor-form__action-buttons
  margin-top: 20px
