.confirmation-of-publication
  display: flex
  flex-flow: column nowrap
  width: 100%

  ._apply
    margin-right: 17px

  .action-buttons
    margin-top: 18px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: baseline


  .publication-title
    display: flex
    flex-direction: column
    margin-bottom: 10px

    ._single-line
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

  .publication-title__course
    font-weight: bold

