@import "~tt-assets/styles/colors.sass"

.records-page
  position: relative
  border-radius: 10px
  margin-left: 5px

  .filters
    left: 0
    min-width: 900px
    position: sticky
    display: flex
    width: 100%
    flex-direction: column

  &.form
    width: 98%
    overflow-x: scroll
    height: auto
    min-height: calc(100vh - 64px)
    overflow-y: hidden

  .filter-button
    align-self: flex-end
    margin-bottom: 24px

.webix_ceil_text_row
  display: flex
  flex-flow: column

.dashboard-records-table
  .webix_ss_center
    //min-width: 1400px
    width: auto !important

  .webix_ss_header
    //min-width: 1400px
    overflow-x: scroll

  .webix_hcell
    .webix_span
      display: flex
      flex-direction: row
      justify-content: center
      max-width: 180px

  .webix_ss_body
    max-width: 1875px
    border-radius: 5px


//this block is read-only its not an input control
.check-box-block
  align-self: center
  margin-left: 10px
  overflow: hidden
  box-sizing: border-box
  width: 16px
  height: 16px
  border: 2px solid #5A5B6A
  border-radius: 1px

  .check-mark
    background: #5A5B6A

.check-box-block.checked
  background: #5A5B6A
  box-sizing: border-box
  width: 16px
  height: 16px
  border: 2px solid #5A5B6A
  border-radius: 1px

  .check-mark
    width: 12px
    height: 8px
    background: transparent
    border: 2px solid white
    border-top: 0
    border-right: 0
    transform: rotate(312deg)

.state-template-block-dr, .process-state
  font-family: Inter
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 15px !important
  letter-spacing: 0.25px
  height: 24px
  margin: auto 0
  padding: 2px 12px
  box-sizing: border-box
  border-radius: 32px

  &._draft
    background-color: #EBF2FF70
    color: $blue

  &._executing
    background-color: #FFF8EA70
    color: $yellow

  &._done
    background-color: #EDF6EE70
    color: $green

  &._error
    background-color: #EDF6EE70
    color: $red

  &._not-ready
    background-color: #2979FF70
    color: $blue

  &._part-ready
    background-color: #D1941A70
    color: $yellow

  &._ready
    background-color: #43A04770
    color: $green

  &._question
    background-color: #FEEDEC
    color: #C8372D

  .state-circle
    border-radius: 50%
    width: 14px
    height: 14px

    &._draft
      background-color: $blue

    &._executing
      background-color: $yellow

    &._done
      background-color: $green

    &._error
      background-color: $red

.remove-timeline-button
  margin-top: 12px

.up-headers
  max-width: 180px
  text-align: center !important
  //width: 100% !
  //display: flex
  justify-items: center
  align-items: center
  border-radius: 5px
  //max-height: 41px
  line-height: 15px !important



.even-record
  background: rgba(112, 105, 116, 0.3) !important

.centered-by-flex
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.scroll-all-table
  min-width: 100%
  //min-width: 1400px
  //overflow-x: scroll


.horizontal-scroll-grid
  min-width: 1400px
  overflow-x: scroll
  overflow-y: unset
  max-height: 100%


//.center-elements

