@import "~tools/variables"

.mobile-menu
  .ext-block
    border-bottom: none
    position: relative
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: -20px
      right: -20px
      border-bottom: $border-white-02

  .selector__separator
    color: $color-white-02