@import "~tools/variables"

.test-page
  .start-button__block
    margin: 23px 0 36px
    display: flex

    .block__wrapper
      position: relative
      display: flex

    .button
      width: 267px
      height: 26px
      cursor: pointer

