.ui-orange
  background-color: #C8684C
  border: 1px solid orangered
  border-radius: 8px
  opacity: 0.8
  &:hover
    opacity: 1
  &:active
    border-width: 1px
    opacity: .6

.ui-button
  cursor: pointer
  height: 32px
  min-width: 32px
  font-family: "Fira Sans", sans-serif
  font-size: 16px
  color: #FFFFFF
  box-sizing: border-box

.ui-container
  display: flex
  flex-direction: row
  width: auto
  background-color: #fff
  align-items: center
  justify-content: flex-start
  margin-right: 15px
  padding: 10px 0

.ui-container__title
  text-Align: center
  margin-right: 20px
  font-size: 14px

.ui-container__select
  min-width: 200px
  border-radius: 4px
  padding: 4px 8px
  border: 1px solid rgba(255, 69, 0, 0.3)
  transition: border 300ms ease
  &:hover
    border: 1px solid rgb(255, 69, 0)
    cursor: pointer

