<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/scripts/lib/jquery/jquery-1.12.4.js"></script>
</head>
<body>
<input id="play" type="button" value="Play"/>
<input id="pause" type="button" value="Pause"/>
<input id="middle" type="button" value="Set to middle"/>
<input id="start" type="button" value="Set to start"/>
<div id="curPos"></div>
</body>
</html>

<script>
    var $audio;
    var audio;
    var audio2;
    (function () {
        var curPos = $("#curPos");
        audio = new Audio("/images/queen-innuendo.mp3");
        audio2 = new Audio("/images/queen-innuendo.mp3");
        audio.preload = true;
        $audio = $(audio);
        $audio.on("loadeddata", function () {
        }).on("timeupdate", function (e) {
            var s = Math.trunc(this.currentTime) + " of " + audio.duration;
            curPos.text(s);
        });

        $("#play").click(function () {
            audio.play();
            audio2.play();
        });
        $("#pause").click(function () {
            audio.pause();
            audio2.pause();
        });
        $("#middle").click(function () {
            audio.currentTime = 150;
            audio2.currentTime = 0;
        });
        $("#start").click(function () {
            audio.currentTime = 0;
            audio2.currentTime = 150;
        });
    })();
</script>