<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" type="text/css" href="/scripts/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/scripts/lib/jquery-ui/jquery-ui.structure.min.css">

    <link rel="stylesheet" type="text/css" href="/css/general-player.css">
    <link rel="stylesheet" type="text/css" href="/scripts/widgets/work-shop/work-shop-custom.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/scripts/widgets/work-shop/player.css">
    <script src="/static/player-main.js"></script>
    <script src="/scripts/lib/class-extend.js"></script>
    <script src="/scripts/lib/iscroll.js"></script>
    <script src="/scripts/lib/require.js"></script>
</head>
<body>
<div class="ctl-buttons">
    Select player
    <select role="player">
        <option value="1" selected>Viewport 1</option>
        <option value="2">Viewport 2</option>
    </select>
    <br/>
    <button role="play">Play</button>
    <button role="pause">Pause</button>
    <button role="current">Get current</button>
    <br/>
    Rate
    <select role="rate">
        <option value="0.5">0.5</option>
        <option value="0.75">0.75</option>
        <option value="1" selected>1</option>
        <option value="1.25">1.25</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
    </select>
    <br/>
    Volume
    <input type="checkbox" checked role="mute"/>
    <select role="volume">
        <option value="0.1">0.1</option>
        <option value="0.2">0.2</option>
        <option value="0.3">0.3</option>
        <option value="0.4">0.4</option>
        <option value="0.5">0.5</option>
        <option value="0.6">0.6</option>
        <option value="0.7">0.7</option>
        <option value="0.8">0.8</option>
        <option value="0.9">0.9</option>
        <option value="1" selected>1</option>
    </select>
    <br/>
    Position (Sec)
    <input type="text" role="position" value="0">
    <input type="button" role="position-btn" value="Ok"/>
    <br/>
    Video
    <input type="checkbox" checked role="video"/>
    <br/>
    Lecture Id
    <input type="text" role="lecture-id" value="1">
    <input type="button" role="lecture-id-btn" value="Ok"/>
    <br/>
    <br/>
    <div class="general-info"  style="width: 100%; height: 100px"></div>
    <br/><br/>
    <div class="text-content"></div>
</div>
<div id="pl1" class="ws-container"></div>
<div id="pl2" class="ws-container-mini"></div>
<div id="titles-place" class="titles"></div>
<!--div id="pl2" class="ws-container"></div>
<div id="pl3" class="ws-container-mini"></div-->
</body>
</html>