<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <script src="https://browser.sentry-cdn.com/4.3.2/bundle.min.js" crossorigin="anonymous"></script> -->
  </head>
  <body style="background-color: #2f2f2f">
    <div id="player" class="ws-container"></div>

    <link rel="stylesheet" type="text/css" href="/static/player.css">
    <script src="/static/player-app.js"></script>
    <script src="/scripts/lib/class-extend.js"></script>
    <script src="/scripts/lib/iscroll.js"></script>
    <script src="/scripts/lib/require.js"></script>
  </body>
</html>
