<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://browser.sentry-cdn.com/4.3.2/bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/player.css">
    <script src="/static/player-app-test.js"></script>
    <script src="/scripts/lib/class-extend.js"></script>
    <script src="/scripts/lib/iscroll.js"></script>
    <script src="/scripts/lib/require.js"></script>
</head>
<body>
<div class="ctrl_buttons">
    <button class="btn set_data_btn">Set data of lesson id</button>
    <input type="text" id="lecture-id" value="1"><br/>
    <button class="btn play_btn">Play</button><br/>
    <button class="btn play_from_pos_btn">Play from</button>
    <input type="text" id="init_position" value="0"><br/>
    <button class="btn pause_btn">Pause</button><br/>
    <button class="btn set_rate_btn">Set rate</button>
    <select id="rate">
        <option value="0.5">0.5</option>
        <option value="0.75">0.75</option>
        <option value="1" selected>1</option>
        <option value="1.25">1.25</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
    </select><br/>
    <button class="btn set_position_btn">Set position</button>
    <input type="text" id="position" value="0"><br/>
    <button class="btn test_start_btn">Test timeout</button><br/>
</div>
<div class="debug_console"></div>
<div id="player" class="ws-container"></div>
</body>
</html>
