@import "~tt-assets/styles/colors.sass"

.tasks-page

  &.form
    min-height: calc(100vh - 64px)

  .task-state
    font-family: Inter
    font-style: normal
    font-weight: 400
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.25px
    height: 24px
    margin: auto 0
    padding: 2px 12px
    box-sizing: border-box
    border-radius: 32px

  .filter-button
    position: absolute
    top: 33px
    right: 32px





