                                            <p style="margin: 0;font-family: georgia, times, serif;font-size: 15px;line-height: 115%;font-weight: normal;">
                                                <a target="_blank" href="<%= course_url %>"
                                                    style="color: #C9644E;text-decoration: none;">
                                                    <small style="color: #666666;line-height: 1;font-size: 11px;font-family: arial, helvetica, sans-serif; letter-spacing: 0.22px;">Курс: <%= course_title %></small>
                                                </a>
                                            </p>
