<!-- lecture-->
<tr>
    <td class="two-column white" style="padding: 0;background: #ffffff;text-align: center;font-size: 0;">
        <!--[if (gte mso 9)|(IE)]>
                            <table width="100%">
                                <tr>
                                    <td width="50%" valign="top">
                                        <![endif]-->
        <div class="column" style="width: 100%; max-width: 252px; display: inline-block;vertical-align: top;">
            <table width="100%" style="border-spacing: 0;font-family: arial, helvetica, sans-serif;color: #000000;border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td class="inner" style="padding-top: 28px; padding-bottom: 28px;padding-right: 28px;">
                            <table class="contents" style="border-spacing: 0;font-family: arial, helvetica, sans-serif;color: #000000;border-collapse: collapse;width: 100%;font-size: 15px;text-align: left;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p style="margin: 0;font-family: georgia, times, serif;font-size: 15px;line-height: 115%;font-weight: normal;">
                                                <a target="_blank" href="<%= course_url %>"
                                                    style="color: #C9644E;text-decoration: none;">
                                                    <small style="color: #666666;line-height: 1;font-size: 11px;font-family: arial, helvetica, sans-serif; letter-spacing: 0.22px;">Курс: <%= course_title %></small>
                                                </a>
                                            </p>
                                            <p class="space" style="margin: 0;font-family: georgia, times, serif;font-size: 15px;line-height: 115%;font-weight: normal;height: 15px;"></p>
                                            <p style="margin: 0;font-family: georgia, times, serif;font-size: 15px;line-height: 115%;font-weight: normal;">
                                                <b class="userfont" style="font-family: arial, helvetica, sans-serif;letter-spacing: 0.22px;color: #C9644E;"><%= lesson_number %> </b>
                                                <a target="_blank" href="<%= lesson_url %>"
                                                    style="color: #C9644E;text-decoration: none;">
                                                    <b style="font-family: arial, helvetica, sans-serif;letter-spacing: 0.22px;color: #000000;"><%= lesson_title %></b>
                                                </a> <%= lesson_short_description %>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                    <td width="50%" valign="top">
                                        <![endif]-->
        <div class="column" style="width: 100%; max-width: 252px; display: inline-block;vertical-align: top;">
            <table width="100%" style="border-spacing: 0;font-family: arial, helvetica, sans-serif;color: #000000;border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td class="inner tdimage" style="/* padding: 24px; */padding-top: 28px;">
                            <table class="contents" style="border-spacing: 0;font-family: arial, helvetica, sans-serif;color: #000000;border-collapse: collapse;width: 100%;font-size: 15px;text-align: left;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 0;">
                                            <a target="_blank" href="<%= lesson_url %>"
                                                style="color: #C9644E;text-decoration: none;">
                                                <img src="<%= lesson_img_url %>" alt="<%= lesson_title %>" style="border: 0;width: 100%;height: auto;display:block;">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                </tr>
                            </table>
                            <![endif]-->
    </td>
</tr>
<tr>
    <td class="one-column white line" style="padding: 0;background: #ffffff;border-top: 0 none;border-left: 0 none;border-right: 0 none;border-bottom: 1px solid #d9d9d9;height: 1px;"></td>
</tr>
<!-- //lecture-->
