.course-promo__table
  border: 1px solid #C8684C
  border-radius: 3px
  padding: 26px 24px
  @media only screen and (max-device-width: 414px)
    padding: 16px

  .spacer-table
    width: 5%
    max-width: 20px
    height: 12px

  .column-table
    &._left
      width: 54%

    &._right
      width: 40%

  //@media only screen and (max-width: 480px)
    .column-table
      width: 100%!important