.course-promo__table
  border: 1px solid #C8684C
  border-radius: 3px
  padding: 26px 24px
  @media only screen and (max-device-width: 414px)
    padding: 16px

.course-promo__descr-column
  width: 65%
  padding-right: 20px
  @media only screen and (max-device-width: 414px)
    width: 100%
    padding-right: 0

.course-promo__value-column
  display: block
  @media only screen and (max-device-width: 414px)
    display: none

.course-promo__value-mobile-row
  display: none
  @media only screen and (max-device-width: 414px)
    display: block
