.course-promo__table
  border: 1px solid #C8684C
  border-radius: 3px
  padding: 26px 24px
  width: 100%
  @media only screen and (max-device-width: 414px)
    padding: 16px

  .spacer-table
    width: 20px
    height: 12px

  .column-table
    &._left
      width: calc(60% - 20px)

    &._right
      width: 40%

  @media only screen and (max-width: 480px)
    .column-table
      width: 100%!important
      max-width: 100%!important