.course_editor
  .email-button
    margin-left: 17px
    position: absolute
    background-color: #27ae60
    border-color: #27ae60
    box-shadow: 0 0 10px 1px #0d6df2
    &.disabled
      box-shadow: none

