@import "~tools/variables.sass"

._player
  .top-balloon-message
    position: absolute

.top-balloon-message
  position: fixed
  z-index: 110
  height: 140px
  width: 100%
  background-color: #F1F1F1