.events-find-form
  height: 50vh
  max-height: 450px
  overflow: hidden
  min-width: 600px
  display: flex
  flex-flow: column nowrap
  gap: 15px

.found-events-table
  max-height: 380px
  overflow: hidden
  width: calc(100% - 16px)
  height: 100%

.events-find-form__field
  display: flex
  flex-flow: row nowrap
  gap: 20px

  .search-button
    min-width: 100px

.add-selected
  max-width: 200px
