.course-subscription-tab
  & .field-label
    min-width: 310px

  .discount-percent__wrapper
    display: flex

    & .field-text
      width: 191px

  .discount-percent__button
    width: 35px
    height: 35px
    margin: 8px 0 0 5px
    border-radius: 5px


