@import "~tt-assets/styles/colors.sass"

.script-timestamp-form
  display: flex
  flex-flow: column nowrap
  gap: 30px

.script-timestamp-form-tag
  display: flex
  flex-flow: column nowrap
  gap: 30px

.script-timestamp-form__field

  min-width: 240.8px
  width: 100%
  height: 50px

  &.center
    display: flex
    justify-content: center

    button
      min-width: 250px

.script-timestamp-form__confirm-button
  align-self: flex-start

//.search-button
//  border-radius: 8px

//.period-start-date, .period-end-date
//  display: flex
//  flex-flow: row nowrap
//  gap: 15px
//
//  input
//    text-align: end
//

.timecode-and-command
  display: flex
  flex-flow: row nowrap
  gap: 30px

  .script-timestamp-form__field
    max-width: 250px

.arguments
  .script-timestamp-form__field
    //max-width: 531px
