@import "~tools/variables.sass"

.extended-info__authors-block
  color: $color-main-dark

  .author-description
    margin: 19px 18px 23px 0
    font-family: $font-pt
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 140%
    @media (max-width: 899px)
      margin: 13px 18px 16px 0
      font-size: 15px
      line-height: 19px

.author-block__title
  margin-bottom: 30px
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 34px
  display: block
  @media (max-width: 899px)
    display: none

.authors-block__item
  margin-bottom: 60px
  @media (max-width: 899px)
    margin-bottom: 45px

.author-header
  display: flex

.author-header__portrait
  position: relative
  width: 90px
  height: 122px
  margin-right: 24px
  overflow: hidden
  @media (max-width: 899px)
    margin-right: 20px

  img
    display: block
    height: 100%
    position: absolute
    top: 0
    left: 50%
    -webkit-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    transform: translateX(-50%)
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    background-position: top center

.author-header__info
  flex-grow: 2
  border-top: $border-dark-02
  display: flex
  flex-direction: column
  justify-content: flex-end

.author-header__info-name
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 34px
  margin-bottom: 11px
  border-bottom: $border-orange-03
  -webkit-transition: all 0.3s ease
  transition: all 0.3s ease
  color: #2F2F2F
  width: max-content
  @media (max-width: 899px)
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.02em
  &:hover
    border-bottom: $border-orange
    color: $color-orange

.author-header__occupation, .author-header__employment
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 117.9%
  @media (max-width: 899px)
    font-size: 12px
    line-height: 14px

//.author-header__employment
//  margin-bottom: -4px

.header-row:last-child
  margin-bottom: -4px

