.image-link-wrapper
  display: flex
  flex-direction: row
  &__button
    width: 34px
    height: 34px
    border-radius: 4px
    margin-left: 5px
    cursor: pointer
    box-shadow: none
    outline: none
    border: 1px solid #96c8ff

  .field-input
    flex-grow: 1

.image-link__preview
  margin: 8px 0
  max-width: 320px