@import "./variables.sass"

@font-face
  font-family: 'Roboto'
  src: url("/fonts/Roboto-Regular.ttf") format('truetype')
  font-style: normal

.font-universal__body-largex
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: $color-main-dark

.font-universal__body-large
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 17px
  line-height: 20px
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 14px
    line-height: 130%

.font-universal__body-medium
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 130%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 12px
    line-height: 130%

.font-universal__body-small
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 140%
  color: $color-main-dark


.font-universal__title-largex
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 58px
  line-height: 110%
  letter-spacing: -1px
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 32px
    line-height: 110%
    letter-spacing: -1px

.font-universal__title-large
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 48px
  line-height: 105%
  letter-spacing: -1px
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 26px
    line-height: 105%
    letter-spacing: -1px

.font-universal__title-medium
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 120%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 20px
    line-height: 120%

.font-universal__title-small
  font-family: $font-fira
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 150%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 17px
    line-height: 130%

.font-universal__title-smallx
  font-family: $font-fira
  font-style: normal
  font-weight: bold
  font-size: 17px
  line-height: 130%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 14px
    line-height: 130%


.font-universal__button-default
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 17px
  line-height: 120%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 17px
    line-height: 20px

.font-universal__button-small
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 14px
    line-height: 17px


.font-universal__book-large
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 150%
  color: $color-main-dark
  @media (max-width: 899px)
    font-size: 16px
    line-height: 130%

.font-universal__book-medium
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 17px
  line-height: 130%
  color: $color-main-dark
  @media (max-width: 899px)
    font-family: $font-pt
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 130%
    color: $color-main-dark

.font-special__price-large
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 33px
  letter-spacing: -0.5px
  @media (max-width: $tablet-width)
    font-size: 20px
    line-height: 23px

.font-special__price-small
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 17px
  line-height: 20px

._bold
  font-weight: bold

