@import "./variables.sass"

.vp1-universal__title-large
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 48px
  line-height: 105%
  letter-spacing: -1px
  color: $color-main-dark

.vp3-universal__title-large
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 26px
  line-height: 105%
  letter-spacing: -1px
  color: $color-main-dark


.vp1-universal__title-largex
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 58px
  line-height: 110%
  letter-spacing: -1px
  color: $color-main-dark

.vp3-universal__title-largex
  font-family: $font-pt
  font-style: normal
  font-weight: normal
  font-size: 32px
  line-height: 110%
  letter-spacing: -1px
  color: $color-main-dark


.vp1-universal__body-medium
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 130%
  color: $color-main-dark

.vp3-universal__body-large
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 130%
  color: $color-main-dark



/* vp1-universal/body-small */

position: absolute;
width: 141px;
height: 17px;

/* vp1-universal/body-small */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/body-medium */

position: absolute;
width: 157px;
height: 16px;

/* vp3-universal/body-medium */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/body-large */

position: absolute;
width: 197px;
height: 26px;

/* vp1-universal/body-large */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/body-largex */

position: absolute;
width: 194px;
height: 25px;

/* vp3-universal/body-largex */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/button-default */

position: absolute;
width: 227px;
height: 20px;

/* vp1-universal/button-default */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 120%;
/* or 20px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/button-default */

position: absolute;
width: 228px;
height: 26px;

/* vp3-universal/button-default */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/button-small */

position: absolute;
width: 175px;
height: 22px;

/* vp1-universal/button-small */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/button-small */

position: absolute;
width: 177px;
height: 22px;

/* vp3-universal/button-small */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/book-large */

position: absolute;
width: 226px;
height: 30px;

/* vp1-universal/book-large */
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/book-large */

position: absolute;
width: 181px;
height: 21px;

/* vp3-universal/book-large */
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/book-medium */

position: absolute;
width: 216px;
height: 22px;

/* vp1-universal/book-medium */
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/book-medium */

position: absolute;
width: 178px;
height: 18px;

/* vp3-universal/book-medium */
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;
/* or 18px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/title-smallx */

position: absolute;
width: 213px;
height: 22px;

/* vp1-universal/title-smallx */
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/title-smallx */

position: absolute;
width: 175px;
height: 18px;

/* vp3-universal/title-smallx */
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 130%;
/* or 18px */
display: flex;
align-items: center;

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/title-medium */

position: absolute;
width: 352px;
height: 34px;

/* vp1-universal/title-medium */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 120%;
/* identical to box height, or 34px */

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/title-medium */

position: absolute;
width: 253px;
height: 24px;

/* vp3-universal/title-medium */
font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */

/* universal-black/primary */
color: #2F2F2F;


/* vp1-universal/title-small */

position: absolute;
width: 239px;
height: 30px;

/* vp1-universal/title-small */
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

/* universal-black/primary */
color: #2F2F2F;


/* vp3-universal/title-small */

position: absolute;
width: 203px;
height: 26px;

/* vp3-universal/title-small */
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 150%;
/* identical to box height, or 25px */

/* universal-black/primary */
color: #2F2F2F;
