/*https://www.iconfinder.com/iconsets/evil-icons-user-interface*/
.delbtn {
  background: url(./../icons/basket.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 25px;
  width: 25px;
  border: none;
  margin-left: 2px;
  margin-bottom: 5px;
}
.btn-up {
  background: url(./../icons/arrow_up.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-down {
  background: url(./../icons/arrow_down.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-new {
  background: url(./../icons/plus.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-add {
  background: url(./../icons/clip.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-edit {
  background: url(./../icons/pen.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-delete {
  background: url(./../icons/minus.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}
.btn-back {
  background: url(./../icons/arrow_left.svg);
  border-radius: 2px;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #96c8ff;
  height: 2.5714em;
  /*height: 25px;*/
  width: 2.5714em;
  border: none;
  /*margin-left: 2px;*/
  margin-bottom: 2px;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 2.5714em;
  line-height: 2.5714em;
  font-size: 14px;
  outline: 0;
  padding: 0 2rem;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #6d8cb0;
}
.btn.disabled {
  background-color: #a7b3cb;
  color: #656565;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body,
html,
#root {
  margin: 0;
  height: 100%;
}
.app {
  font: 12px sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app div {
  box-sizing: border-box;
}
.app .left {
  width: 20em;
  position: relative;
}
.app .tollbar {
  width: 100%;
}
.app .top-bar-size {
  height: 5em;
}
.app .logo-sidebar {
  text-align: center;
  display: block;
  top: 0px;
  background-color: #424b5f;
  height: 100%;
  color: #fff;
  font-size: 2em;
  position: relative;
}
.app .logo-sidebar div {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}
.app .main-menu {
  height: 100%;
  list-style: none;
  padding-top: 0.5em;
}
.app .main-menu .menu-item {
  position: relative;
  background: transparent;
}
.app .main-menu .menu-item .link {
  display: inline-block;
  width: 100%;
  height: 2.8571em;
  padding: 0 1.25em;
  line-height: 3em;
  font-size: 14px;
  color: #a7b3cb;
  transition: 0.2s ease-out;
}
.app .main-menu .menu-item .link:hover {
  background: #424b5f;
  text-decoration: none;
  color: #fff;
}
.app .main-menu .menu-item .link.open {
  background: #424b5f;
  text-decoration: none;
  color: #fff;
}
.app .main-menu .menu-item .link.open:after {
  border-left: 4px solid #1ba8ed;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.app .bar-bgcolor {
  background-color: #4f5a6e;
}
.app .right {
  flex: 1 1 100px;
}
.app .right-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app .right-top {
  flex: none;
}
.app .main-area {
  flex: 1 1 100px;
  width: 100%;
}
.app .page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1em;
  position: relative;
}
.app .action-bar {
  flex: none;
  height: 4em;
  width: 100%;
}
.app .episodes {
  width: 100%;
  height: 100%;
}
.app .episodes .episodes-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app .episodes .grid-container {
  flex: 1 1 100px;
  width: 100%;
  overflow-y: auto;
}
.app .episodes .grid {
  width: 100%;
  height: auto;
}
.app .dlg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.app .dlg .dlg-bg {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}
.app .dlg .dlg-window {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  top: 50%;
  width: 300px;
}
.app .dlg .dlg-btn-bar {
  padding: 1em;
  text-align: right;
}
.app .dlg .dlg-btn-bar .btn {
  margin-left: 0.5em;
}
.app .dlg .dlg-message {
  padding: 1em 1em 0 1em;
  font-size: 16px;
  font-weight: 600;
}
/*  .data-grid
    width 100%
    border-collapse separate
    thead
      tr
        background-color #a7b3cb
        font-size 16px
        color #f0f0f0
    tbody
      tr
        &:nth-child(even)
          background-color #f0fcff
        &:last-child
          td
            border-bottom #c3c3c3 inset 1px
    td
      border-width 0px
      padding 0.5em
      border-right #c3c3c3 inset 1px
      &:first-child
        border-left #c3c3c3 outset 1px
    .data-grid-menu
      width 2em
    td.menu-cell
      >div
        width 1em
        height 1em
        background-image url(../icons/menu-sign.svg)
        background-repeat no-repeat
        background-position center center
        display list-item
        list-style none
        position relative
        color black
        >span
          width 10em
          background-color #4f5a6e
          height auto
          float right
          position absolute
          display none
          z-index 2
          transition .2s ease-out
          opacity 0
    .options-menu-item
      background-color transparent
      padding .25em
      color #dadada
      cursor default
      transition .2s ease-out
      padding 0.5em 0.75em 0.5em 0.75em
      &:hover
        background-color #424b5f
        color #f2f2f2
*/
/************************************************/
.user {
  width: 20%;
  vertical-align: top;
}
