@import "~tt-assets/styles/colors.sass"

.header-pane
  height: 64px
  background-color: $color-main-light
  display: flex
  padding: 12px 25px

  &._full-width
    margin-left: 16.66%
    .breadcrumb-pane
      visibility: hidden

  .user-block
    display: flex
    align-items: center

  .logout-button
    width: 80px
    height: 40px
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 17px
    letter-spacing: 0.75px
    color: $grey100

  .user-block__name
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.44px
    color: $grey100
    margin-right: 28px


