.main-container
  display: flex
  flex-direction: column
  background-color: #fff
  align-items: center
  justify-content: center
  width: 100%
  padding: 15px 30px
  box-sizing: border-box

.row-container
  display: flex
  flex-direction: row
  width: 100%
  box-sizing: border-box
  justify-content: flex-start
  flex-wrap: wrap

.control-container
  display: flex
  flex-direction: row
  width: auto
  background-color: #fff
  align-items: center
  justify-content: flex-start
  margin-right: 15px
  padding: 10px 0

.min-width-input
  max-width: 150px
