.process-body__header-row
  width: 100%
  display: flex
  justify-content: space-between

  .input-field:not(:last-of-type)
    margin-right: 24px

  ._user-field, ._state-field
    flex: 0 1 21%

  ._lesson-field
    flex: 1 0 58%
