.create-process-dialog
  max-height: calc(100% - 100px)
  overflow: auto
  width: 45% !important //todo get rid of 'important', use it here cause it overrides by class 'modal-form__dialog'
  max-width: 800px !important //todo get rid of 'important', use it here cause it overrides by class 'modal-form__dialog'

  .dialog__fields-wrapper
    margin: 12px 0
    max-height: 38vh
    width: calc(100% + 9px)
    box-sizing: content-box
    padding-right: 8px
    overflow-y: scroll

  &._with-custom-scroll  //_with-custom-scroll sets the box-sizing to border-box, be patient here

    &::-webkit-scrollbar-track
      border-radius: 8px 64px 64px 8px

    &::-webkit-scrollbar-thumb
      border-radius: 8px 64px 64px 8px


.height-100-input-inside-mui-form-control // todo check the _with-custom-scroll, and check how it combines with dialog__fields-wrapper
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl
    input
      height: 100%
