@import "~tools/variables"

.header-ver2

  .underlined-item
    border-bottom: $border-hidden-link
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    cursor: pointer
    &:hover
      border-bottom: $border-orange
      color: $color-orange

  .navigation ul li
    display: block
  ._search-mode
    .navigation ul li
      display: none

  &.page-header._fixed
    height: 72px
    position: fixed
    //top: 0
    top: inherit
    left: 0
    right: 0
    background-color: $color-white
    z-index: 50
    -webkit-transition: -webkit-transform 0.5s ease
    transition: -webkit-transform 0.5s ease
    @media (max-width: 899px)
      height: 64px
