.body__supervisor-block
  margin-top: 24px

  ._title
    margin-bottom: 24px

.supervisor-block__elem-info-block
  display: flex
  margin-bottom: 19px
  margin-top: 15px
  align-items: center

  .elem-info-block__item
    justify-self: flex-end
    &._state
      margin-left: auto
      padding: 2px 12px
      border-radius: 32px
      &._not-ready
        color: #2979FF
        background: #E1E1E3
      &._part-ready
        color: #D1941A
        background: #FFF1D6
      &._ready
        color: #43A047
        background: #DCEDDD

    &._executor
      margin-left: 12px

.supervisor-block__load-button
  margin: 24px 0
