.ws-header
  width 100%
  position fixed
  height 3em
  .header-icon
    padding-left 25px
    padding-top 0.5833em
    padding-bottom 0.5em
    display inline-block
  .header-icon.first
    padding-left 13px
.ws-content
  background-color
