#player {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#player.ws-container {
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f2f2f !important;
}