.ws-prop-editor-main
  background-color  #363636
  width 100%
  height auto
  overflow-y hidden
.ws-prop-caption
  font-family PT Sans Caption
  font-style normal
  font-weight normal
  font-size 0.9167em
  line-height 100%
  color rgba(255, 255, 255, 0.5)
  cursor default
.ws-prop-panel
  margin-top 1px
  background-color #4D4D4D
  &:first-child
    margin-top 0px
.ws-prop-panel.title
  padding-left 1.58333em
  padding-top .5em
  width 100%
  height 4.33333em
  div
    padding-top .5em
    margin 0 auto
    line-height 140%
.ws-prop-icon
  width 100%
  height 8.4167em
  position relative
  &>div
    position absolute
  .icon
    width 4em
    height 4em
    left 7.9167em
    top 2.25em
  .left
    top 3.75em
    left .75em
    width 6.25em
    .ws-prop-caption
      text-align right
  .right
    top 3.75em
    left 12.75em
    width 6.25em
  .top
    top .75em
    left 9.75em
    transform translate(-50%)
  .top
    top .75em
    left 9.75em
    transform translate(-50%)
  .bottom
    top 6.75em
    left 9.75em
    transform translate(-50%)
.ws-prop-zoom
  padding-left 1.5em
  padding-top 1em
  .title
    margin-bottom 1em
  .combo
    display inline-flex
    width 100%
    margin-bottom 1em
    .ws-combo-title
      width 16em
      div
        font-family PT Sans Caption
        font-style normal
        font-weight normal
        font-size 1.4176em
        line-height 100%
        color #FFFFFF
.ws-prop-edit-row
  width 100%
  height auto
  display inline-flex
  margin-bottom 1em
  .ws-prop-edit-panel
    width 50%
    .ws-caption-wrp
      padding-bottom 0.5em
  .ws-prop-edit-panel.editing
    .ws-prop-caption
    .ws-prop-input
      color #00DBFF
    .ws-prop-caption.no-focus
      color rgba(255, 255, 255, 0.5)
  .ws-prop-input-cont.full
    width 100%
  .ws-prop-input-cont
    display inline-flex
    div.ws-prop-input
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5em;
      line-height: 100%;
      color: #FFFFFF;
    div.ws-prop-meas
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5em;
      line-height: 100%;
      color: #FFFFFF;
.ws-prop-panel[role='description-panel']
  .ws-prop-desc
    padding-left 1.5em
    padding-top 1em
    padding-right 1.5em
    .ws-prop-edit-row
      .ws-prop-edit-panel
        width 100%
    div.ws-prop-input
      width 100%
      height: 7.83333em
      font-family PT Sans Caption
      font-style normal
      font-weight normal
      font-size: 1.08333em
      line-height 100%
      color #FFFFFF
