@import "track-panel.styl"
@import "header.styl"
@import "content.styl"
@import "scroller.styl"

.work-shop
  width 100%
  height 100%
  background-color #000000
  font-size 12px
  div
    box-sizing border-box
  .ws-def-cursor
    cursor default
  .ui-resizable-w
    left 0px
  .ui-resizable-e
    right 0px
