.ws-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 12.5em;
  width: 100%;
  background-color: #333;
}
.ws-footer input[type="file"] {
  display: none;
}
.ws-footer .ws-tracks-content {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
}
.ws-footer .ws-track-tools {
  height: 100%;
  width: 15.3339em;
  flex: none;
  background-color: #363636;
  position: relative;
}
.ws-footer .ws-track-tools-background {
  background-color: #4d4d4d;
}
.ws-footer .ws-track-tools-panel {
  background-color: #4d4d4d;
}
.ws-footer .ws-track-panel {
  background-color: #333;
}
.ws-footer .ws-tools-top {
  width: 13.25em;
  height: 2.5em;
  margin-bottom: 1px;
  position: relative;
}
.ws-footer .ws-tools-top-right {
  width: 2em;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2.5em;
}
.ws-footer .ws-tools-top-right div {
  font-family: "DejaVu Sans";
  font-size: 1.25em;
  line-height: 100%;
  color: rgba(255,255,255,0.5);
  opacity: 1;
  margin-left: 0.4em;
  margin-top: 0.5em;
}
.ws-footer .ws-tools-content {
  height: 9.9167em;
  width: 100%;
}
.ws-footer .ws-tools-left {
  width: 13.25em;
  height: 100%;
  display: inline;
  float: left;
  margin-right: 1px;
  position: relative;
}
.ws-footer .ws-tools-center {
  width: 100%;
  height: 7.3333em;
  margin-bottom: 1px;
  z-index: 1;
  display: block;
}
.ws-footer .ws-tools-right {
  width: 2em;
  height: 100%;
  display: inline;
  float: left;
  background-color: #363636;
  overflow-y: hidden;
}
.ws-footer .ws-tools-right .list {
  height: auto;
}
.ws-footer .ws-track-delete-panel {
  width: 100%;
  position: relative;
}
.ws-footer .ws-track-delete-panel div.delete-btn {
  font-family: "DejaVu Sans";
  font-size: 1.25em;
  line-height: 100%;
  color: rgba(255,255,255,0.5);
  opacity: 1;
  margin-left: 0.4em;
  margin-top: 0.5em;
  position: absolute;
}
.ws-footer .ws-track-delete-panel div.number-text {
  font-family: "DejaVu Sans";
  font-size: 1em;
  line-height: 100%;
  color: rgba(255,255,255,0.25);
  opacity: 1;
  margin-left: 0.75em;
  margin-bottom: 0.75em;
  bottom: 0;
  position: absolute;
}
.ws-footer .ws-tools-top-play {
/* ▸ */
  font-family: "DejaVu Sans";
  font-size: 2em;
  line-height: 100%;
  color: #fff;
  opacity: 0.6;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 1.5em;
}
.ws-footer .ws-left {
  float: left;
  display: block;
}
.ws-footer .ws-right {
  float: right;
  display: block;
}
.ws-footer .ws-tools-top-text {
/* +0,5 */
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
/* opacity 0.60 */
  padding-top: 0.75em;
}
.ws-footer .ws-tools-top-refresh {
/* ⟲ */
  font-family: "DejaVu Sans";
  font-size: 1.75em;
  line-height: 100%;
  color: #fff;
  opacity: 0.6;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.ws-footer .ws-tools-center-row {
  display: block;
  position: relative;
  height: 3.3335em;
  padding-top: 1em;
  z-index: 1;
}
.ws-footer .ws-tracks-list {
  flex: 1 0 1px;
  position: relative;
  overflow: hidden;
}
.ws-footer .ws-mute-button {
  padding-left: 3px;
  padding-top: 3px;
}
.ws-footer .ws-tracks-list-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #242424;
  overflow: hidden;
}
.ws-footer .ws-track-panel {
  background-color: #333;
}
.ws-footer .ws-tracks-list-scroll {
  overflow: hidden;
  height: 9.9167em;
  position: relative;
}
.ws-footer .ws-tracks-list-scroll .iScrollIndicator {
  background-color: rgba(255,255,255,0.4);
}
.ws-footer .ws-tracks-list-scroll .iScrollHorizontalScrollbar.is-hover .iScrollIndicator {
  background-color: rgba(255,255,255,0.4);
}
.ws-tracks-scroll-wrapper {
  height: auto;
}
.ws-track {
  display: block;
  height: 4.9374em;
  width: 100%;
  margin-bottom: 1px;
}
.ws-track:last-child {
  margin-bottom: 0px;
}
.ws-track-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.ws-track-element {
  position: absolute;
  height: 4.9374em;
  padding-left: 1px;
}
.ws-track-element .ws-element-content {
  border-radius: 3px;
}
.ws-track-element .ws-element-icon {
/* ◪ */
  font-family: "DejaVu Sans";
  font-size: 1.75em;
  line-height: 100%;
  color: #fff;
  opacity: 0.4;
}
.ws-track-element .ws-element-text {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 100%;
  color: #fff;
  margin-top: 0.75em;
}
.ws-track-element .ui-resizable-se {
  display: none !important;
}
.ws-track-element.focused .ws-element-content {
  border: 3px solid #00dbff !important;
}
.ws-track-element.no-image .ws-element-pict-wrapper {
  display: none;
}
.ws-track-element.no-icon .ws-element-icon {
  display: none;
}
.ws-track-element.no-title .ws-element-text {
  display: none;
}
.ws-track-element.is-empty .ws-element-content {
  background-color: #246570;
  border: 3px solid #246570;
}
.ws-track-element.is-empty .ws-element-text {
  display: none;
}
.ws-track-element.is-empty .ws-element-icon {
  display: none;
}
.ws-track-element.is-empty .ws-element-pict-wrapper {
  display: none;
}
.ws-track-element.pink .ws-element-content {
  background: #b35b9f;
  border: 3px solid #b35b9f;
}
.ws-track-element.dark-pink .ws-element-content {
  background: #8c5ca3;
  border: 3px solid #8c5ca3;
}
.ws-track-element.dark-green .ws-element-content {
  background: #80b172;
  border: 3px solid #80b172;
}
.ws-track-element.dark-gray .ws-element-content {
  background: #718ab2;
  border: 3px solid #718ab2;
}
.ws-element-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.ws-element-pict-wrapper {
  flex: none;
  width: 4.4em;
}
.ws-element-pict {
  height: 4.4em;
}
.ws-element-content-wrapper {
  flex: 1 0 1px;
  padding-left: 0.5em;
  overflow: hidden;
}
.ws-track-element-menu {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  display: none;
}
.ws-track-element:hover .ws-track-element-menu {
  display: block;
}
.ws-track-element.no-menu:hover .ws-track-element-menu {
  display: none;
}
.ws-tools-top.ws-track-liner {
  background-color: #242424;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ws-tools-top.ws-track-liner .ws-liner-list {
  width: auto;
  height: 100%;
}
.ws-track-liner-step {
  height: 100%;
  position: absolute;
  border-right: 1px solid #242424;
}
.ws-track-liner-step:last-child {
  border-right: none;
}
.ws-track-liner-text {
  position: absolute;
  z-index: 1;
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  transform: translate(-50%);
}
.ws-track-liner-text div {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  color: #fff;
  opacity: 0.3;
}
.ws-pointer {
  display: block;
  position: absolute;
  top: 1.4em;
  z-index: 5;
  transition: left 0 ease-out 0.2s;
  pointer-events: none;
}
.ws-pointer .ws-pointer-icon {
  display: block;
  width: 100%;
  height: auto;
}
.ws-pointer .ws-pointer-line {
  display: block;
  width: 100%;
  height: 180px;
}
.ws-tools-bottom {
  width: 100%;
  height: 2.5em;
  padding-top: 0.75em;
  padding-left: 0.75em;
  display: block;
}
.zoom-left {
  float: left;
}
.zoom-right {
  float: left;
  padding-top: 0.2em;
}
.zoom-middle {
  float: left;
  width: 10em;
  height: 100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
}
.zoom-line {
  width: 100%;
  height: 0.16667em;
  background-color: #2f2f2f;
  overflow: visible;
  position: relative;
}
.zoom-circle {
  position: absolute;
  top: -0.375em;
}
.ws-tools-center-icon {
  font-family: "DejaVu Sans";
  font-size: 2em;
  line-height: 100%;
  color: #fff;
  opacity: 0.6;
  display: inline-block;
  margin-left: 0.75em;
  position: relative;
}
.ws-tools-center-icon.big {
  font-size: 2.5em;
}
.ws-tools-center-icon.focused {
  color: #00dbff;
  opacity: 1;
}
.ws-header {
  width: 100%;
  position: fixed;
  height: 3em;
}
.ws-header .header-icon {
  padding-left: 0.5em;
  padding-top: 0.5833em;
  padding-bottom: 0.5em;
  display: inline-block;
}
.ws-header .header-icon.second {
  padding-left: 2em;
}
.ws-header .header-icon.first {
  padding-left: 1em;
}
.ws-assets-background {
  background-color: #3e3e3e;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ws-assets-top {
  width: 100%;
  height: 2.5em;
  margin-bottom: 1px;
  flex: none;
  position: relative;
  padding-top: 0.5834em;
  padding-left: 1em;
}
.ws-assets-top input {
  display: none;
}
.ws-assets-icon {
  display: block;
  float: left;
}
.ws-assets-caption {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1667em;
  line-height: 100%;
  color: #fff;
  opacity: 0.8;
  padding-left: 0.5em;
  float: left;
  padding-top: 0.125em;
}
.ws-assets-content {
  flex: 1 0 1px;
  overflow-y: hidden;
  position: relative;
}
.ws-assets-content .list {
  height: auto;
}
.ws-assets-panel {
  background-color: #4d4d4d;
  padding-top: 0.41667em;
}
.ws-assets-plus,
.ws-assets-disk {
/* + ⛁ */
  font-family: "DejaVu Sans";
  font-size: 1.75em;
  line-height: 100%;
  color: rgba(255,255,255,0.5);
  float: right;
  padding-right: 0.75em;
}
.ws-assets-item {
  display: block;
  height: 4.33333em;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  white-space: nowrap;
}
.ws-assets-item:hover {
  background-color: #717171;
}
.ws-assets-item:hover .ws-assets-item-menu {
  display: block;
}
.ws-assets-item .ws-assets-item-icon {
  width: 4em;
  height: 3.5em;
  display: block;
  float: left;
  margin-left: 1.75em;
  margin-top: 0.41667em;
  padding-bottom: 0.25em;
}
.ws-assets-item .ws-assets-text {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9166em;
  color: #fff;
  opacity: 1;
  float: left;
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  white-space: nowrap;
  width: 15.95em;
  overflow-x: hidden;
  margin-left: 0.41667em;
  margin-top: 0.41667em;
}
.ws-assets-item .ws-shadow {
/* Градиент */
  background: linear-gradient(180deg, #4d4d4d 23.61%, rgba(77,77,77,0) 100%);
  opacity: 1;
  transform: matrix(0, 1, -1, 0, 0, 0);
  position: absolute;
  right: -0.76em;
  top: 0.7em;
  width: 4.3334em;
  height: 3em;
}
.ws-assets-item .ws-assets-item-menu {
  display: none;
  position: absolute;
  bottom: 0.5em;
  left: 0.75em;
}
.ws-assets-item .ws-assets-item-num {
  position: absolute;
  right: 19.375em;
  margin-top: 0.41667em;
}
.ws-assets-item .ws-assets-item-num .ws-assets-item-num-cont {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9166em;
  line-height: 100%;
  color: rgba(255,255,255,0.5);
  opacity: 1;
}
.ws-assets-item.focused {
  background-color: #00dbff;
}
.ws-assets-item.focused:hover {
  background-color: #00dbff;
}
.ws-assets-item.focused .ws-assets-item-num-cont,
.ws-assets-item.focused .ws-assets-text {
  color: #2f2f2f;
}
.ws-assets-item.focused .ws-assets-item-menu {
  background-color: #00dbff;
}
.ws-assets-item.focused .ws-shadow {
  background: linear-gradient(180deg, #00dbff 23.61%, rgba(77,77,77,0) 100%);
}
.ws-audio-icon {
/* ♫ */
  font-family: "DejaVu Sans";
  font-size: 3em;
  line-height: 100%;
  color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #686868;
  padding-left: 0.17em;
}
.ws-prop-editor-main {
  background-color: #363636;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}
.ws-prop-caption {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9167em;
  line-height: 100%;
  color: rgba(255,255,255,0.5);
  cursor: default;
}
.ws-prop-panel {
  margin-top: 1px;
  background-color: #4d4d4d;
}
.ws-prop-panel:first-child {
  margin-top: 0px;
}
.ws-prop-panel.title {
  padding-left: 1.58333em;
  padding-top: 0.5em;
  width: 100%;
  height: 4.33333em;
}
.ws-prop-panel.title div {
  padding-top: 0.5em;
  margin: 0 auto;
  line-height: 140%;
}
.ws-prop-icon {
  width: 100%;
  height: 8.4167em;
  position: relative;
}
.ws-prop-icon>div {
  position: absolute;
}
.ws-prop-icon .icon {
  width: 4em;
  height: 4em;
  left: 7.9167em;
  top: 2.25em;
}
.ws-prop-icon .left {
  top: 3.75em;
  left: 0.75em;
  width: 6.25em;
}
.ws-prop-icon .left .ws-prop-caption {
  text-align: right;
}
.ws-prop-icon .right {
  top: 3.75em;
  left: 12.75em;
  width: 6.25em;
}
.ws-prop-icon .top {
  top: 0.75em;
  left: 9.75em;
  transform: translate(-50%);
}
.ws-prop-icon .top {
  top: 0.75em;
  left: 9.75em;
  transform: translate(-50%);
}
.ws-prop-icon .bottom {
  top: 6.75em;
  left: 9.75em;
  transform: translate(-50%);
}
.icon .text-icon {
  width: 100%;
  height: 100%;
  font-family: "DejaVu Sans";
  font-size: 4em;
  line-height: 100%;
  color: #fff;
  opacity: 0.6;
  display: inline-block;
  margin-left: 0.15em;
  position: relative;
}
.ws-prop-zoom {
  padding-left: 1.5em;
  padding-top: 1em;
}
.ws-prop-zoom .title {
  margin-bottom: 1em;
}
.ws-prop-zoom .combo {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
}
.ws-prop-zoom .combo .ws-combo-title {
  width: 16em;
}
.ws-prop-zoom .combo .ws-combo-title div {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4176em;
  line-height: 100%;
  color: #fff;
}
.ws-prop-edit-row {
  width: 100%;
  height: auto;
  display: inline-flex;
  margin-bottom: 1em;
}
.ws-prop-edit-row .ws-prop-edit-panel {
  width: 50%;
}
.ws-prop-edit-row .ws-prop-edit-panel .ws-caption-wrp {
  padding-bottom: 0.5em;
}
.ws-prop-edit-row .ws-prop-edit-panel.editing .ws-prop-caption,
.ws-prop-edit-row .ws-prop-edit-panel.editing .ws-prop-input {
  color: #00dbff;
}
.ws-prop-edit-row .ws-prop-edit-panel.editing .ws-prop-caption.no-focus {
  color: rgba(255,255,255,0.5);
}
.ws-prop-edit-row .ws-prop-input-cont.full {
  width: 100%;
}
.ws-prop-edit-row .ws-prop-input-cont {
  display: inline-flex;
}
.ws-prop-edit-row .ws-prop-input-cont div.ws-prop-input {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 100%;
  color: #fff;
}
.ws-prop-edit-row .ws-prop-input-cont div.ws-prop-meas {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 100%;
  color: #fff;
}
.ws-prop-panel[role='description-panel'] .ws-prop-desc {
  padding-left: 1.5em;
  padding-top: 1em;
  padding-right: 1.5em;
}
.ws-prop-panel[role='description-panel'] .ws-prop-desc .ws-prop-edit-row .ws-prop-edit-panel {
  width: 100%;
}
.ws-prop-panel[role='description-panel'] .ws-prop-desc div.ws-prop-input {
  width: 100%;
  height: 7.83333em;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 1.08333em;
  line-height: 100%;
  color: #fff;
}
.ws-content {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 12.5em;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.ws-assets {
  width: 20.75em;
  height: 100%;
  background-color: #4d4d4d;
  border-bottom: inset #000 1px;
  display: inline-block;
  flex: none;
}
.ws-player {
  flex: 1 0 1px;
}
.iScrollIndicator {
  cursor: pointer;
  background: rgba(47,51,55,0.6);
  border: 1px solid rgba(255,255,255,0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 0;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 0.5em;
}
.iScrollVerticalScrollbar {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 0.5em;
}
.iScrollVerticalScrollbar.is-hover,
.iScrollVerticalScrollbar:hover {
  width: 0.75em;
}
.iScrollVerticalScrollbar.is-hover .iScrollIndicator,
.iScrollIndicator:hover {
  border-radius: 3px;
  background: rgba(47,51,55,0.8);
  border: 1px solid rgba(255,255,255,0.1);
}
.iScrollHorizontalScrollbar {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  height: 0.5em;
}
.iScrollHorizontalScrollbar.is-hover,
.iScrollHorizontalScrollbar:hover {
  height: 0.75em;
}
.iScrollHorizontalScrollbar.is-hover .iScrollIndicator,
.iScrollIndicator:hover {
  border-radius: 3px;
  background: rgba(47,51,55,0.8);
  border: 1px solid rgba(255,255,255,0.1);
}
.work-shop {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 12px;
}
.work-shop div {
  box-sizing: border-box;
}
.work-shop .ws-def-cursor {
  cursor: default;
}
.work-shop .ui-resizable-w {
  left: 0px;
}
.work-shop .ui-resizable-e {
  right: 0px;
}
