@import "track-panel.styl"
@import "header.styl"
@import "content.styl"
@import "scroller.styl"

.work-shop
  width 100%
  height 100%
  background-color #000000
  font-size 12px
  div
    box-sizing border-box
  .ws-def-cursor
    cursor default
  .ui-resizable-w
    left 0px
  .ui-resizable-e
    right 0px
.ws-player
  position relative
  .ws-player-poster-text
    position absolute
    bottom 0
    height auto
    color #FFFFFF
    left 50%
    padding-bottom 15px;
    transform translateX(-50%)
    width 85%
    max-width 100vw
    text-align center
    font-family "Fira Sans", Arial, sans-serif
    font-size 14px
    line-height 20px
    transition transform 0.5s ease, -webkit-transform 0.5s ease
    .ws-player-title
      margin 0
      font-weight 400
      font-size 14px
      line-height 20px
    .ws-player-subtitle
      margin 0
      color rgba(255, 255, 255, 0.6)