@import "~tools/variables.sass"

.top-message__store-popup
  height: 140px
  display: flex
  justify-content: center
  overflow: hidden

  &._mobile
    @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
      height: 64px
      .store-popup__close-button
        order: 0

        .balloon-wrapper__close
          margin: 0 10px

      .store-popup__info-block
        &._small
          display: flex
        &._big
          display: none

  &._desktop
    @media (max-width: 649px)
      height: 64px
      .store-popup__close-button
        order: 0

        .balloon-wrapper__close
          margin: 0 10px

      .store-popup__info-block
        &._small
          display: flex
        &._big
          display: none

      .store-popup__close-button
        .balloon-wrapper__close
          width: 12px
          height: 12px
          &:before, &:after
            width: 12px


.store-popup__info-block
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 10px

  &._mobile
    flex: 0 1 726px
    @media (max-width: $tablet-width)
      flex-basis: 643px

  &._desktop
    flex: 0 1 861px
    @media (max-width: $tablet-width)
      flex-basis: 643px

  .magisteria-logo
    width: 48px
    height: auto
    margin-right: 10px

  .phone-image
    width: 135px
    height: auto
    margin-top: 10px
    margin-right: 10px
    display: block

  .text-block
    flex: 0 1 372px
    padding: 0
    align-self: center
    @media (max-width: $tablet-width)
      flex-basis: 319px

  .text-block__content
    margin-bottom: 4px

  .buttons-block
    display: flex
    flex-direction: row
    min-height: auto
    margin-left: 10px

    &._single
      justify-content: center
      min-width: 135px
    &._all
      justify-content: space-between
      min-width: 280px
      @media (max-width: $tablet-width)
        min-width: auto
        flex-direction: column
        min-height: 90px

    .store-button
      margin: 0
      padding: 0
      border: none
      height: 40px
      width: 135px

      img
        width: 100%
        height: auto

  .store-button__link
    margin-right: 10px

  &._big
    display: flex
  &._small
    display: none
    flex-basis: 345px

    .text-block
      flex-basis: 197px

    .buttons-block
      min-width: auto
      flex-direction: row
      align-items: baseline
      min-height: auto
      flex-basis: 75px

    .store-button
      width: 20px
      height: 24px
      margin-bottom: 2px
      &:first-child
        margin-right: auto
      &:not(:first-child)
        margin-left: auto
    .button-border
      height: 26px
      border-right: $border-dark-04
      position: relative
      top: 3px

.store-popup__close-button
  display: flex
  align-items: center


  .balloon-wrapper__close
    background: none
    padding: 0
    margin: 0 0 0 20px

    &:before, &:after
      background-color: $color-dark-03

    &:hover
      &:before, &:after
        background-color: $color-dark-06

    @media (max-width: $mobile-phone-width)
      width: 12px
      height: 12px
      &:before, &:after
        width: 12px