/*https://www.iconfinder.com/iconsets/evil-icons-user-interface*/

@font-face{font-family:'PT Sans';font-style:normal;font-weight:400;src:url(../fonts/PTS-webfont.woff) format('woff')}
@font-face{font-family:'PT Sans';font-style:normal;font-weight:700;src:url(../fonts/PTS-bold.woff) format('woff')}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

._mask01 image {
    /*-webkit-clip-path: url("#clipping01");*/
    clip-path: url("#clipping01");
    min-height: 100%;
    min-width: 100%;
}

._mask02 image {
    /*-webkit-clip-path: url("#clipping02");*/
    clip-path: url("#clipping02");
    min-height: 100%;
    min-width: 100%;
}

._mask03 image {
    /*-webkit-clip-path: url("#clipping03");*/
    clip-path: url("#clipping03");
    min-height: 100%;
    min-width: 100%;
}

._mask04 image {
    /*-webkit-clip-path: url("#clipping04");*/
    clip-path: url("#clipping04");
    min-height: 100%;
    min-width: 100%;
}

._mask05 image {
    /*-webkit-clip-path: url("#clipping05");*/
    clip-path: url("#clipping05");
    min-height: 100%;
    min-width: 100%;
}

._mask06 image {
    /*-webkit-clip-path: url("#clipping06");*/
    clip-path: url("#clipping06");
    min-height: 100%;
    min-width: 100%;
}

._mask07 image {
    /*-webkit-clip-path: url("#clipping07");*/
    clip-path: url("#clipping07");
    min-height: 100%;
    min-width: 100%;
}

._mask08 image {
    /*-webkit-clip-path: url("#clipping08");*/
    clip-path: url("#clipping08");
    min-height: 100%;
    min-width: 100%;
}

._mask09 image {
    /*-webkit-clip-path: url("#clipping09");*/
    clip-path: url("#clipping09");
    min-height: 100%;
    min-width: 100%;
}

._mask10 image {
    /*-webkit-clip-path: url("#clipping10");*/
    clip-path: url("#clipping10");
    min-height: 100%;
    min-width: 100%;
}

._mask11 image {
    /*-webkit-clip-path: url("#clipping11");*/
    clip-path: url("#clipping11");
    min-height: 100%;
    min-width: 100%;
}

._mask12 image {
    /*-webkit-clip-path: url("#clipping12");*/
    clip-path: url("#clipping12");
    min-height: 100%;
    min-width: 100%;
}

#confirm .holder {
    font: 12px sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

#confirm .popup {
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 300px;
    padding: 25px;
}

#confirm .popup .dlg-btn-bar {
    padding: 1em;
    text-align: right;
}

#confirm .popup .dlg-btn-bar .btn {
    margin-left: 0.5em;
}

#confirm .no {
    /*background-color: #63abf8;*/
    border: 3px dotted #000000;
    border-radius: 4px;
}

#confirm .popup .dlg-message {
    padding: 1em 1em 0 1em;
    font-size: 16px;
    font-weight: 600;
}

.editor-form {
    /*width: 100% !important;*/
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.tabs {
    width: 100%;
    min-width: 500px;
    display: inline-block;
    vertical-align: top;
}

.cover {
    width: 360px;
    /*height: auto;*/
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /*border-radius: 100%; !* Радиус скругления *!*/
    /*box-shadow: 0 0 0 3px green, 0 0 13px #333; !* Параметры теней *!*/
    /*display: none;*/
}

.editor {
    position: absolute;
    width: 100%;
    height: 100%;
}

.editor__main-area {
    position: relative;
    overflow-y: auto;
    min-height: calc(100% - 100px);
}

.tab-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-wrapper {
    position: relative;
}

.tab-wrapper.hidden {
    display: none;
    visibility: hidden;

}

.main-area__container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.cover svg {
    max-width: 360px;
    max-height: 334px;
}

.tabs-1 .tab-links {
    margin-top: 7px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #868686;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    position: relative;
    font-family: 'PT Sans', Tahoma, serif;
    font-size: 15px;
    color: #666;
}

.tabs-1 .tab-link:first-child {
    margin-left: 7px;
}

.tab-content-visible {
    position: relative;
    overflow-y: auto;
    min-height: calc(100% - 100px);
}

.tabs-1 .tab-link {
    padding: 0 10px;
    cursor: pointer;
    /*border: 1px solid transparent;*/
    display: inline-block;
    position: relative;
    height: 35px;
    line-height: 41px;
    top: -1px;
    left: -1px;
    border: 1px solid #868686;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-1 .tab-link-active {
    font-weight: normal;
    border: 1px solid #868686;
    height: 40px;
    top: -6px;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #268fd5;
    color: #fff
}

.tabs-1 .content {
    /*padding: 10px;*/
    /*border: 1px solid #868686;*/
    /*border-top: 1px solid transparent;*/
    /*height: 200px;*/
}

.tabs .dlg-btn-bar {
    padding: 5px 0 5px 0;
}

/*.tabs-1 .tabContent: {}*/

.tool-btn {
    margin-right: 3px;
    border-radius: 2px;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    height: 2.5714em;
    width: 2.5714em;
    border: none;
}

.del {
    background: #96c8ff url(../images/icons/basket.svg);
    height: 25px;
    width: 25px;
    margin-left: 2px;
    margin-bottom: 5px;
    margin-right: 0;
}

.up {
    background: #96c8ff url(../images/icons/arrow_up.svg);
}

.down {
    background: #96c8ff url(../images/icons/arrow_down.svg);
}

.new {
    background: #96c8ff url(../images/icons/plus.svg);
}

.add {
    background: #96c8ff url(../images/icons/clip.svg);
}

.edit {
    background: #96c8ff url(../images/icons/pen.svg);
}

.delete {
    background: #96c8ff url(../images/icons/minus.svg);
}

.back {
    background: url(../images/icons/arrow_left.svg);
}

.upload {
    background: #96c8ff url(../images/icons/upload.svg);
}

.find {
    background: #96c8ff url(../images/icons/find.svg);
}

.calendar {
    background: #96c8ff url(../images/icons/calendar.svg);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 2.5714em;
    line-height: 2.5714em;
    font-size: 14px;
    outline: 0;
    padding: 0 2rem;
    vertical-align: middle;
    color: #fff;
    background-color: #6383a8;
    text-align: center;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #6d8cb0;
}

.btn.disabled {
    background-color: #a7b3cb;
    color: #656565;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

h3 {
    font-size: 22px;
    margin: 10px 0 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

body,
html,
#root {
    margin: 0;
    height: 100%;
}

.app {
    font: 12px sans-serif;
    display: grid;
    grid-template-areas: "nav head"
                         "nav main";
    grid-template-columns: 15% 1fr;
    grid-template-rows: 60px 1fr;
    flex-direction: row;
    height: 100%;
}

.app div {
    box-sizing: border-box;
}

.app .left {
    grid-area: nav;
}

.app .tollbar {
    width: 100%;
}

.app .top-bar-size {
    height: 5em;
}

.app .logo-sidebar {
    text-align: center;
    display: block;
    top: 0px;
    background-color: #424b5f;
    height: 100%;
    color: #fff;
    font-size: 2em;
    position: relative;
}

.app .logo-sidebar div {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.app .bar-bgcolor {
    background-color: #4f5a6e;
}

.app .right {
    flex: 1 1 100px;
}

.app .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app .right-top {
    grid-area: head;
    background-color: #4f5a6e;
    display: flex;
}

.app .main-area {
    grid-area: main;
    position: relative;
}

.app .tab-scroll-box {
    height: 300px;
    overflow-y: scroll;
}

.app .page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    position: relative;
}

.app .action-bar {
    flex: none;
    height: auto;
    width: 100%;
    padding: 7px 0 7px 7px;
}

.grid-wrapper .action-bar {
    display: flex;
    width: fit-content;
}

.detail-grid-container {
    margin-left: 2px;
}

.tab-wrapper__lessons {

}

.tab-wrapper__authors-and-categories{
    /*display: flex;*/
}

@media (max-width: 1279px) {
    .tab-wrapper__authors-and-categories{
        display: block
    }
}

.app .episodes {
    width: 100%;
    height: 100%;
}

.app .episodes .episodes-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app .episodes .grid-container {
    flex: 1 1 100px;
    width: 100%;
    overflow-y: auto;
}

.app .episodes .grid {
    width: 100%;
    height: auto;
}

.app .dlg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.app .dlg .dlg-bg {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.app .dlg .dlg-window {
    /*max-height: 500px;*/
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    top: 50%;
    width: 300px;
}

.grid_container {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app .dlg .dlg-btn-bar {
    padding: 1em;
    text-align: right;
}

.control-wrapper{
/*.webix_editors_wrapper{*/
    overflow-y: auto;
    overflow-x: hidden;
}

/*.webix_editors_wrapper .webix_el_box {*/
    /*display: inline-block !important;*/
/*}*/

/*.webix_editors_wrapper .webix_control {*/
    /*width: auto !important;*/
    /*text-align: center !important;*/
/*}*/

/*.webix_editors_wrapper .webix_layout_line {*/
    /*width: auto !important;*/
    /*!*text-align: center !important;*!*/
/*}*/

/*.webix_editors_wrapper .webix_layout_line .webix_el_label {*/
    /*text-align: left !important;*/
    /*padding-left: 8px;*/
/*}*/

.course_editor .control-wrapper,
.lesson_editor .control-wrapper,
.episode_editor .webix_editors_wrapper {
    max-height: calc(55vh - 60px);
}

.lookup_header {
    height: 46px;
    line-height: 46px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    font-weight: bold;
}

.lookup_header_blue {
    font-size: 15px;
    color: #4a4a4a;
    background: #d2e3ef;
}

.app .dlg .dlg-btn-bar .btn {
    margin-left: 0.5em;
}

.app .dlg .dlg-message {
    padding: 1em 1em 0 1em;
    font-size: 16px;
    font-weight: 600;
    white-space: pre-line;
}

.app .color-box {
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    margin-left: 4px;
    margin-top: 3px;
}

/*  .data-grid
    width 100%
    border-collapse separate
    thead
      tr
        background-color #a7b3cb
        font-size 16px
        color #f0f0f0
    tbody
      tr
        &:nth-child(even)
          background-color #f0fcff
        &:last-child
          td
            border-bottom #c3c3c3 inset 1px
    td
      border-width 0px
      padding 0.5em
      border-right #c3c3c3 inset 1px
      &:first-child
        border-left #c3c3c3 outset 1px
    .data-grid-menu
      width 2em
    td.menu-cell
      >div
        width 1em
        height 1em
        background-image url(../icons/menu-sign.svg)
        background-repeat no-repeat
        background-position center center
        display list-item
        list-style none
        position relative
        color black
        >span
          width 10em
          background-color #4f5a6e
          height auto
          float right
          position absolute
          display none
          z-index 2
          transition .2s ease-out
          opacity 0
    .options-menu-item
      background-color transparent
      padding .25em
      color #dadada
      cursor default
      transition .2s ease-out
      padding 0.5em 0.75em 0.5em 0.75em
      &:hover
        background-color #424b5f
        color #f2f2f2
*/
/************************************************/
.user {
    width: 20%;
    vertical-align: top;
}

.auth-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #FFF;
    display: none;
}

.auth-wrapper.opened {
    display: block;
}

.sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.form__field-label {
    display: block;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 15px;
    color: rgba(47, 47, 47, 0.8);
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form__field {
    padding: 0;
    /*background-color: rgba(255, 255, 255, 0);*/
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "Fira Sans", Arial, sans-serif;
    line-height: 26px;
    color: #2f2f2f;
    border-bottom: 1px solid rgba(47, 47, 74, 0.2);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.btn--brown {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 11px 15px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    color: #fff;
    background-color: #c8684c;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
}

.register-form__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 29px;
}

.register-form__enter {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: auto;
}

.btn--brown.disabled {
    color: rgba(47, 47, 47, 0.6);
    background-color: rgba(47, 47, 47, 0.2);
    pointer-events: none;
    cursor: auto;
}

.btn--brown .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.form__field-wrapper {
    margin-bottom: 16px;
    width: 100%;
}

.sign-in-form .status-icon {
    padding-top: 4px;
    position: absolute;
    right: 0;
}

/*https://www.iconfinder.com/iconsets/evil-icons-user-interface*/
._mask01 image {
    /*-webkit-clip-path: url("#clipping01");*/
    clip-path: url("#clipping01");
    min-height: 100%;
    min-width: 100%;
}

._mask02 image {
    /*-webkit-clip-path: url("#clipping02");*/
    clip-path: url("#clipping02");
    min-height: 100%;
    min-width: 100%;
}

._mask03 image {
    /*-webkit-clip-path: url("#clipping03");*/
    clip-path: url("#clipping03");
    min-height: 100%;
    min-width: 100%;
}

._mask04 image {
    /*-webkit-clip-path: url("#clipping04");*/
    clip-path: url("#clipping04");
    min-height: 100%;
    min-width: 100%;
}

._mask05 image {
    /*-webkit-clip-path: url("#clipping05");*/
    clip-path: url("#clipping05");
    min-height: 100%;
    min-width: 100%;
}

._mask06 image {
    /*-webkit-clip-path: url("#clipping06");*/
    clip-path: url("#clipping06");
    min-height: 100%;
    min-width: 100%;
}

._mask07 image {
    /*-webkit-clip-path: url("#clipping07");*/
    clip-path: url("#clipping07");
    min-height: 100%;
    min-width: 100%;
}

._mask08 image {
    /*-webkit-clip-path: url("#clipping08");*/
    clip-path: url("#clipping08");
    min-height: 100%;
    min-width: 100%;
}

._mask09 image {
    /*-webkit-clip-path: url("#clipping09");*/
    clip-path: url("#clipping09");
    min-height: 100%;
    min-width: 100%;
}

._mask10 image {
    /*-webkit-clip-path: url("#clipping10");*/
    clip-path: url("#clipping10");
    min-height: 100%;
    min-width: 100%;
}

._mask11 image {
    /*-webkit-clip-path: url("#clipping11");*/
    clip-path: url("#clipping11");
    min-height: 100%;
    min-width: 100%;
}

._mask12 image {
    /*-webkit-clip-path: url("#clipping12");*/
    clip-path: url("#clipping12");
    min-height: 100%;
    min-width: 100%;
}

#confirm .holder {
    font: 12px sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

#confirm .popup {
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 300px;
    padding: 25px;
}

#confirm .popup .dlg-btn-bar {
    padding: 1em;
    text-align: right;
}

#confirm .popup .dlg-btn-bar .btn {
    margin-left: 0.5em;
}

#confirm .no {
    /*background-color: #63abf8;*/
    border: 3px dotted #000000;
    border-radius: 4px;
}

#confirm .popup .dlg-message {
    padding: 1em 1em 0 1em;
    font-size: 16px;
    font-weight: 600;
}

.tabs-1 .tab-link-active {
    font-weight: normal;
    border: 1px solid #868686;
    height: 40px;
    top: -6px;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #268fd5;
    color: #fff
}

.del {
    background: #96c8ff url(../images/icons/basket.svg);
    height: 25px;
    width: 25px;
    margin-left: 2px;
    margin-bottom: 5px;
    margin-right: 0;
}

.up {
    background: #96c8ff url(../images/icons/arrow_up.svg);
}

.down {
    background: #96c8ff url(../images/icons/arrow_down.svg);
}

.new {
    background: #96c8ff url(../images/icons/plus.svg);
}

.add {
    background: #96c8ff url(../images/icons/clip.svg);
}

.edit {
    background: #96c8ff url(../images/icons/pen.svg);
}

.delete {
    background: #96c8ff url(../images/icons/minus.svg);
}

.back {
    background: url(../images/icons/arrow_left.svg);
}

.upload {
    background: #96c8ff url(../images/icons/upload.svg);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 2.5714em;
    line-height: 2.5714em;
    font-size: 14px;
    outline: 0;
    padding: 0 2rem;
    vertical-align: middle;
    color: #fff;
    background-color: #6383a8;
    text-align: center;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #6d8cb0;
}

.btn.disabled {
    background-color: #a7b3cb;
    color: #656565;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

h3 {
    font-size: 22px;
    margin: 10px 0 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

body,
html,
#root {
    margin: 0;
    height: 100%;
}

.app div {
    box-sizing: border-box;
}

.app .tollbar {
    width: 100%;
}

.app .top-bar-size {
    height: 5em;
}

.app .bar-bgcolor {
    background-color: #4f5a6e;
}

.app .right {
    flex: 1 1 100px;
}

.app .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.app .tab-scroll-box {
    height: 300px;
    overflow-y: scroll;
}

.app .page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    position: relative;
}

.app .episodes {
    width: 100%;
    height: 100%;
}

.app .episodes .episodes-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app .episodes .grid-container {
    flex: 1 1 100px;
    width: 100%;
    overflow-y: auto;
}

.app .episodes .grid {
    width: 100%;
    height: auto;
}

.app .dlg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.app .dlg .dlg-bg {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.app .dlg .dlg-btn-bar {
    padding: 1em;
    text-align: right;
}

.app .dlg .dlg-btn-bar .btn {
    margin-left: 0.5em;
}

.app .dlg .dlg-message {
    padding: 1em 1em 0 1em;
    font-size: 16px;
    font-weight: 600;
    white-space: pre-line;
}

.app .color-box {
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    margin-left: 4px;
    margin-top: 3px;
}

/*  .data-grid
    width 100%
    border-collapse separate
    thead
      tr
        background-color #a7b3cb
        font-size 16px
        color #f0f0f0
    tbody
      tr
        &:nth-child(even)
          background-color #f0fcff
        &:last-child
          td
            border-bottom #c3c3c3 inset 1px
    td
      border-width 0px
      padding 0.5em
      border-right #c3c3c3 inset 1px
      &:first-child
        border-left #c3c3c3 outset 1px
    .data-grid-menu
      width 2em
    td.menu-cell
      >div
        width 1em
        height 1em
        background-image url(../icons/menu-sign.svg)
        background-repeat no-repeat
        background-position center center
        display list-item
        list-style none
        position relative
        color black
        >span
          width 10em
          background-color #4f5a6e
          height auto
          float right
          position absolute
          display none
          z-index 2
          transition .2s ease-out
          opacity 0
    .options-menu-item
      background-color transparent
      padding .25em
      color #dadada
      cursor default
      transition .2s ease-out
      padding 0.5em 0.75em 0.5em 0.75em
      &:hover
        background-color #424b5f
        color #f2f2f2
*/
/************************************************/
.user {
    width: 20%;
    vertical-align: top;
}

.auth-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #FFF;
    display: none;
}

.auth-wrapper.opened {
    display: block;
}

.sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.form__field-label {
    display: block;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 15px;
    color: rgba(47, 47, 47, 0.8);
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form__field {
    padding: 0;
    /*background-color: rgba(255, 255, 255, 0);*/
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "Fira Sans", Arial, sans-serif;
    line-height: 26px;
    color: #2f2f2f;
    border-bottom: 1px solid rgba(47, 47, 74, 0.2);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.btn--brown {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 11px 15px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    color: #fff;
    background-color: #c8684c;
    border-radius: 4px;
    cursor: pointer;
}

.register-form__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 29px;
}

.register-form__enter {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: auto;
}

.btn--brown.disabled {
    color: rgba(47, 47, 47, 0.6);
    background-color: rgba(47, 47, 47, 0.2);
    pointer-events: none;
    cursor: auto;
}

.btn--brown .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.form__field-wrapper {
    margin-bottom: 16px;
    width: 100%;
}

.sign-in-form .status-icon {
    padding-top: 4px;
    position: absolute;
    right: 0;
}

.svg-wrapper {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.btn--brown svg {
    display: block;
    fill: #fff;
}

.btn--brown.disabled svg {
    fill: rgba(47, 47, 47, 0.6);
}

.svg-wrapper {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.btn--brown svg {
    display: block;
    fill: #fff;
}

.btn--brown.disabled svg {
    fill: rgba(47, 47, 47, 0.6);
}

.right__toolbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right__toolbar .toolbar__item {
    margin-left: auto;
    margin-right: 20px;
}

.right__toolbar .user-name {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.right__toolbar .toolbar__btn {
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 2px;
    display: inline-block;
    padding: 0 2rem;
    background-color: #6383a8;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.toolbar__buttons-wrapper {
    position: relative;
    width: 140px;
}

.toolbar__btn .caption {
    font-size: 14px;
    color: #fff;
}

.toolbar__btn .icon {
    font-size: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.toolbar__btn svg {
    fill: #fff
}

.grid-container {
    /*overflow-y: auto;*/
    min-height: calc(100% - 28px);
    min-height: -moz-calc(100% - 28px);
    min-height: -webkit-calc(100% - 28px);
    position: relative;
}

.webix-grid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 110px);
    width: 100%;
    overflow-y: auto;
}

/*.courses {*/
    /*height: 100%;*/
/*}*/

/*.courses-content {*/
    /*height: 100%;*/
/*}*/


/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
    position: relative;
}
.rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
    display: block;
}
.rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
}

.rdtPicker .rdtTimeToggle {
    text-align: center;
}

.rdtPicker table {
    width: 100%;
    margin: 0;
}
.rdtPicker td,
.rdtPicker th {
    text-align: center;
    height: 28px;
}
.rdtPicker td {
    cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
    color: #999999;
}
.rdtPicker td.rdtToday {
    position: relative;
}
.rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
    color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
}
.rdtPicker th.rdtSwitch {
    width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
}
.rdtPicker button:hover {
    background-color: #eee;
}

.rdtPicker thead button {
    width: 100%;
    height: 100%;
}

td.rdtMonth,
td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
    background: #eee;
}

.rdtCounters {
    display: inline-block;
}

.rdtCounters > div {
    float: left;
}

.rdtCounter {
    height: 100px;
}

.rdtCounter {
    width: 40px;
}

.rdtCounterSeparator {
    line-height: 100px;
}

.rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.rdtCounter .rdtBtn:hover {
    background: #eee;
}
.rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
}

.rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
}

.rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
}

.rdtTime td {
    cursor: default;
}