@import "~tt-assets/styles/colors.sass"

.tak-editor__modal-form
  display: flex
  align-items: center
  justify-content: center

  .task-page__body
    min-height: calc(100% - 121px)

  .task-editor-page
    &::-webkit-scrollbar
      width: 8px
      height: 8px
      visibility: hidden


    &::-webkit-scrollbar-track
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
      border-radius: 8px

    &::-webkit-scrollbar-thumb
      background-color: rgba(169, 169, 169, 100)
      outline: none
      border-radius: 8px


.tak-editor__modal-wrapper
  position: relative
  max-width: 1500px
  max-height: 800px
  width: calc(100% - 200px)
  height: calc(100% - 100px)
  padding: 2px
  border-radius: 8px
  background-color: $grey01

.task-editor-page
  overflow: auto
  height: 100%
