.dlg.answer-dialog
  top: -210px

  .scroll-button
    display: none

  .scrollable
    .scroll-button
      display: block

.answer-editor
  height: 210px
  width: 70%

  .editor__main-area
    margin-top: 25px

  .main-area__container
    padding-right: 25px