.timeline-editor-container
  height: 100%
  width: 100%
  padding: 24px
  box-sizing: border-box
  position: relative
  background: #F8F8F8
  min-height: 100vh
  z-index: 2
  display: flex
  flex-flow: column nowrap
  gap: 15px
