.page-footer {
    padding-top: 60px;
}

@media (min-width: 900px) {
    .page-footer {
        padding-top: 80px;
    }
}

.page-footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 899px) {
    .page-footer__inner {
        padding: 0 35px;
    }
}

@media (max-width: 639px) {
    .page-footer__inner {
        padding: 0 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.page-footer__col {
    width: 32.308%;
}

@media (max-width: 1399px) {
    .page-footer__col {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .page-footer__col {
        width: 100%;
    }
}

.page-footer__col:first-child {
    width: 67.692%;
}

@media (max-width: 1399px) {
    .page-footer__col:first-child {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .page-footer__col:first-child {
        width: 100%;
    }
}

.page-footer__wrapper {
    margin: 0 auto;
    padding-left: 8.333333%;
    padding-right: 8.333333%;
}

@media (max-width: 1399px) {
    .page-footer__wrapper {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media (max-width: 899px) {
    .page-footer__wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.page-footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (max-width: 899px) {
    .page-footer__row {
        display: block;
    }
}

.page-footer__copyright {
    padding: 14px 65px;
    border-top: 1px solid rgba(47, 47, 74, 0.2);
}

.page-footer__copyright br {
    display: none;
}

@media (max-width: 899px) {
    .page-footer__copyright br {
        display: block;
    }
}

@media (max-width: 1399px) {
    .page-footer__copyright {
        padding: 14px 55px;
    }
}

@media (max-width: 899px) {
    .page-footer__copyright {
        padding: 16px 35px;
    }
}

@media (max-width: 639px) {
    .page-footer__copyright {
        padding: 11px 20px;
    }
}

.page-footer__copyright p {
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: rgba(47, 47, 47, 0.6);
}

.page-footer__copyright a {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: rgba(47, 47, 47, 0.6);
}

.page-footer__copyright a:hover {
    opacity: 0.7;
}

.logo-footer {
    display: block;
    padding-bottom: 16px;
}

@media (max-width: 1399px) {
    .logo-footer {
        margin-left: 0;
    }
}

@media (max-width: 899px) {
    .logo-footer {
        padding-bottom: 14px;
        margin-left: 35px;
    }
}

@media (max-width: 639px) {
    .logo-footer {
        margin-left: 18px;
    }
}

.logo-footer svg {
    display: block;
    width: 86px;
    height: 53px;
    fill: #2f2f2f;
}

@media (max-width: 1023px) {
    .logo-footer svg {
        width: 87px;
        height: 50px;
    }
}

.footer-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 6px;
    border-bottom: 1px solid rgba(47, 47, 74, 0.2);
}

@media (max-width: 899px) {
    .footer-actions {
        border-top: 1px solid rgba(47, 47, 74, 0.2);
        margin-top: 2px;
    }
}

.footer-actions li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid rgba(47, 47, 74, 0.2);
}

@media (max-width: 899px) {
    .footer-actions li {
        width: 50%;
    }
}

.footer-actions li:nth-child(2) {
    padding-left: 16px;
    border-right: none;
}

@media (max-width: 639px) {
    .footer-actions li:nth-child(2) {
        padding-left: 0;
    }
}

.footer-actions li:last-child {
    border-right: none;
}

.footer-actions a {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 158px;
    padding: 12px 27px 14px 4px;
    color: #2f2f2f;
}

.footer-actions a:hover {
    opacity: 0.7;
}

@media (max-width: 1023px) {
    .footer-actions a {
        padding-left: 9px;
    }
}

@media (max-width: 899px) {
    .footer-actions a {
        padding-top: 14px;
        padding-left: 10px;
        padding-right: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 639px) {
    .footer-actions a {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-actions .icon {
    position: relative;
    margin-right: 10px;
    width: 24px;
    height: 17px;
}

@media (max-width: 899px) {
    .footer-actions .icon {
        margin-right: 30px;
    }
}

@media (max-width: 639px) {
    .footer-actions .icon {
        margin-right: 10px;
    }
}

.footer-actions svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

.footer-actions span {
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
}

.subscribe-block {
    padding: 42px 0;
    padding-bottom: 32px;
}

@media (max-width: 1399px) {
    .subscribe-block {
        padding-top: 44px;
    }
}

@media (max-width: 1023px) {
    .subscribe-block {
        padding-bottom: 27px;
    }
}

@media (max-width: 899px) {
    .subscribe-block {
        padding-top: 31px;
    }
}

@media (max-width: 639px) {
    .subscribe-block {
        padding-top: 0;
        margin-top: -8px;
        padding-bottom: 40px;
    }
}

.subscribe-block__label {
    margin: 0;
    margin-bottom: 12px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
}

.subscribe-block__descr {
    margin: 0 0 9px 0;
    max-width: 260px;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
}

@media (max-width: 1023px) {
    .subscribe-block__descr {
        margin-bottom: 14px;
        line-height: 15px;
    }
}

.subscribe-form__field-wrapper {
    position: relative;
}

.subscribe-form__field {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 8px 16px;
    padding-right: 40px;
    width: 100%;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid rgba(47, 47, 74, 0.2);
}

.subscribe-form__field:focus {
    outline: none;
}

.subscribe-form input::-webkit-input-placeholder {
    color: rgba(47, 47, 47, 0.6);
}

.subscribe-form input:-moz-placeholder {
    color: rgba(47, 47, 47, 0.6);
}

.subscribe-form input::-moz-placeholder {
    color: rgba(47, 47, 47, 0.6);
}

.subscribe-form input:-ms-input-placeholder {
    color: rgba(47, 47, 47, 0.6);
}

.subscribe-form__submit {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 34px;
}

.subscribe-form__submit:focus {
    outline: none;
}

.subscribe-form__submit svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.social-block-big {
    padding-top: 13px;
    padding-bottom: 21px;
}

@media (max-width: 1399px) {
    .social-block-big {
        padding-top: 15px;
    }
}

@media (max-width: 899px) {
    .social-block-big {
        padding-top: 32px;
    }
}

.social-block-big__title {
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
}

.social-block-big__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 12px;
    max-width: 470px;
}

.social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-bottom: 15px;
    width: 232px;
    color: #2f2f2f;
}

.social-link:hover {
    opacity: 0.7;
}

@media (max-width: 1399px) {
    .social-link {
        width: 40%;
        margin-bottom: 15px;
    }
}

@media (max-width: 1023px) {
    .social-link {
        margin-bottom: 15px;
    }
}

@media (max-width: 899px) {
    .social-link {
        width: 50%;
    }
}

.social-link__icon {
    position: relative;
    width: 24px;
}

.social-link svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    fill: rgba(47, 47, 47, 0.6);
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.social-link__text {
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
}

.social-link:hover {
    opacity: 1;
}

.social-link:hover svg {
    fill: #c8684c;
    opacity: 1;
}