@import "~tools/variables"

.course-scheme__title
  font-family: $font-fira
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 34px
  color: $color-main-dark
  padding: 20px 0 22px
  border-bottom: $border-dark-02