.dashboard
  position: relative
  display: flex
  height: 100%
  flex-flow: column nowrap
  background: white

  .filter-button
    position: relative

.records
  flex: 1 0 auto

.unpublished-records
  background: white
  justify-content: flex-end
  //width: 20px

.dashboard-body
  margin: 24px
  display: flex
  flex-flow: row nowrap
