.dashboard
  position: relative
  display: flex
  height: 100%
  flex-flow: column nowrap
  background: white

.records
  width: 100%

.unpublished-records
  background: white
  justify-content: flex-end
  //width: 20px

  .button


.dashboard-body
  margin: 24px
  display: flex
  flex-flow: row nowrap
