@import "~tt-assets/styles/colors.sass"

.processes-page

  .process-state
    font-family: Inter
    font-style: normal
    font-weight: 400
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.25px
    height: 24px
    margin: auto 0
    padding: 2px 12px
    box-sizing: border-box
    border-radius: 32px

    &._waiting
      background-color: $grey01
      color: #2979FF

    &._draft
      background-color: #EBF2FF
      color: #2979FF

    &._executing
      background-color: #FFF8EA
      color: #F1A205

    &._question
      background-color: #FEEDEC
      color: #C8372D

    &._done
      background-color: #EDF6EE
      color: #43A047

  .filter-button
    position: absolute
    top: 33px
    right: 32px





