@import "~tt-assets/styles/colors.sass"

.processes-page
  &.form
    min-height: calc(100vh - 64px)

  .process-state
    font-family: Inter
    font-style: normal
    font-weight: 400
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.25px
    height: 24px
    margin: auto 0
    padding: 2px 12px
    box-sizing: border-box
    border-radius: 32px

    &._draft
      background-color: #EBF2FF
      color: $blue

    &._executing
      background-color: #FFF8EA
      color: $yellow

    &._done
      background-color: #EDF6EE
      color: $green

    &._error
      background-color: #EDF6EE
      color: $red


  .filter-button
    position: absolute
    top: 33px
    right: 32px





