@import "~tools/variables"

.course-page__statistic
  .social-block
    margin: 13px 0 0
    align-items: flex-start

    .social-button-wrapper
      border: none
      margin: 0

    .social-btn
      border: none
      display: flex
      align-items: center
      flex-direction: column

    .social-btn__actions
      padding: 0

    @media (max-width: $tablet-width)
      order: 3
