.course-page__statistic
  min-width: 25%
  margin-right: 8.333%
  padding-left: 48px

  .play-block__wrapper
    width: 126px
    height: 126px

  .lecture-full__play-block
    padding: 0

  .play-block
    margin: 0
    padding: 0
    height: 126px

  .lecture-full__play-block
    width: 100%

  .play-block__duration
    display: none