.course-page__statistic
  box-sizing: border-box
  min-width: 25%
  margin-right: 8.333%
  padding-left: 48px
  @media (max-width: 899px)
    padding: 0
    margin-left: 36px
    margin-right: 36px
  @media (max-width: 639px)
    padding: 0
    margin-left: 20px
    margin-right: 20px

  .course-page__statistic-wrapper
    margin-top: 2px
    &._fixed
      position: fixed
      padding-top: 100px
      top: 0
      bottom: auto
    @media (max-width: 899px)
      margin: 0

  .play-block__wrapper
    width: 126px
    height: 126px
    @media (max-width: 1679px)
      width: 79px
      height: 79px
    @media (max-width: 899px)
      display: none

  .play-block
    @media (max-width: 1679px)
      width: 79px
      height: 79px
      min-width: 79px


  .lecture-full__play-block
    padding: 0

  .play-block, .play-block__loader, .svg-loader
    margin: 0
    padding: 0
    height: 126px
    width: 126px
    @media (max-width: 1679px)
      width: 79px
      height: 79px

  .play-block__loader:after
    @media (max-width: 1679px)
      width: 79px
      height: 79px

  .lecture-full__play-block
    width: 100%

  .play-block__duration
    display: none