@import "#src/assets/styles/colors.sass"

.images-page
  position: relative
  display: flex
  flex-direction: column

  &.form
    min-height: calc(100vh - 64px)

.images-page__grid-container
  flex: 1 0 auto
  display: flex

.images-page__placeholder
  display: flex
  align-items: center
  justify-content: center
  flex: 1 0 auto
  font-size: 24px
  font-weight: bolder

.images-page__filter-pane
  margin-bottom: 24px

.images-page__lamp
  position: absolute
  top: 24px
  right: 24px
  &.green
    svg
      fill: $green
  &.red
    svg
      fill: $red
