@import "~tt-assets/styles/colors"

.unpublished-records-block
  height: 100%
  padding-right: 26px
  z-index: 3
  background-color: $color-main-light
  position: relative
  flex: 0 1 33.33%
  max-width: 1000px
  transition: max-width 300ms ease
  display: flex
  flex-direction: column
  overflow: hidden

  .title
    margin-bottom: 20px
    flex: 0 1 auto

  .elements__hide-button
    cursor: pointer
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    margin: 0 8px 0 0
    border-top: 9px solid transparent
    border-bottom: 9px solid transparent
    border-right: 9px solid $grey40

  &._hidden
    max-width: 26px
    button
      display: none
    .elements__hide-button
      order: 0
    .title
      visibility: hidden

    .unpublished-records__grid-panel
      width: 0
      visibility: hidden
      display: none

    .elements__hide-button
      border-top: 9px solid transparent
      border-bottom: 9px solid transparent
      border-left: 9px solid $grey40
      border-right: none


.unpublished-records-grid
  display: flex
  .elements__hide-button
    margin: 45vh 8px 0 0
    cursor: pointer
    width: 0
    height: 0
    border-top: 9px solid transparent
    border-bottom: 9px solid transparent
    border-right: 9px solid $grey40

.unpublished-records__grid-panel
  flex: 1 0 auto
  width: 300px
  visibility: visible
  display: flex
  flex-direction: column

  .filters
    flex: 0 1 auto
    left: 0
    display: flex
    flex-direction: column

  .filter-button
    align-self: flex-end
    margin-bottom: 24px

  .webix-datatable
    position: relative
    flex: 1 0 auto
    overflow-x: hidden
    overflow-y: auto

  .webix-datatable-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%


.centered-by-flex
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.doubled-aligned
  justify-items: center
  align-items: center
  border-radius: 5px
  line-height: 15px !important
  text-align: start
