@import "~tools/variables"

.header__button-block
  display: flex
  flex-direction: column
  margin-bottom: 20px

  .course-module__price-block-info
    font-family: $font-fira
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px

.header__buttons-wrapper
  display: flex
  justify-content: space-between

  .btn
    padding: 16px 0
    min-width: 80px
    width: 100%
    @media (max-width: 899px)
      padding: 14px 0

  .btn--brown
    border: $border-orange
    &:disabled
      border: $border-gray-06

  .pay-button
    &:first-child
      padding-left: 0
      padding-right: 10px
    &:nth-child(2)
      padding-left: 10px
    &:only-child
      padding: 0
      max-width: 214px

  .course-module__price-block
    margin: 0
    display: flex
    flex: 1 1 33%

  .course-module__price-block-wrapper
    width: 100%

  .course-module__gift-button
    display: block
    flex: 1 1 33%

  .course-module__price-btn
    width: 100%

  .course-module__price-block-section
    font-family: $font-fira
    flex: 1 1 33%
    p
      margin: 0



