@import "~tools/variables"

.mobile-button_wrapper
  position: fixed
  bottom: 0
  width: 100%
  margin: 0 6px 26px
  @media (max-width: 639px)
    margin-bottom: 6px

.mobile-button
  max-width: 627px
  margin: 0 auto
  height: 57px