@import "~tools/variables"

.mobile-buttons__block
  display: none
  position: fixed
  z-index: 1000
  bottom: 0
  width: 100%
  margin: 0 56px 26px
  @media (max-width: 899px)
    display: flex
    width: calc(100% - 112px)
  @media (max-width: 639px)
    width: calc(100% - 12px)
    margin: 0 6px 6px

  .gift-button__wrapper
    margin: 0 0 0 10px
    .btn
      width: 100%

  .price-button__wrapper
    margin-right: 10px

  .mobile-button_wrapper
    flex-basis: 50%
    position: relative

  .mobile-button_wrapper:only-child
    flex: 1 1 auto

.mobile-button
  max-width: 627px
  margin: 0 auto
  height: 54px

  .course-module__price-btn
    flex-grow: 2
    min-width: auto
    padding: 16px 10px

  .price-button__crown
    flex-basis: 46px

  .course-module__price .discount
    position: absolute
    top: -9px
    margin: 0
    border-radius: 11px

  .course-module__old-price
    font-size: 14px
    line-height: 17px
    color: $color-white
    font-weight: normal

.mobile-button_background
  //max-width: 626px
  margin: 0 auto
  position: absolute
  background-color: $color-white
  z-index: -1
  width: 100%
  height: 100%
  top: 0
  left: 50%
  transform: translateX(-50%)
  border-radius: 4px