.body__right-block
  flex-basis: 65%
  width: 65%
  padding-right: 24px

.right-block__description
  padding-bottom: 23px
  border-bottom: 1px solid #E5E5E7
  width: 100%

  .input-field
    width: 100%
