@import "~tools/variables.sass"

._search-mode
  .item__title::after
    display: none


.header-ver2
  .navigation
    position: relative
    display: block !important
    padding-top: 7px
    flex: 1 1 100%
    ul a
      padding: 0



  .header-menu
    align-items: center
    height: 100%
    display: -webkit-box
    display: -webkit-flex
    display: -moz-box
    display: -ms-flexbox
    display: flex
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style: none
    text-transform: uppercase
    font-family: $font-fira
    font-size: 14px
    line-height: 17px
    letter-spacing: 0.12em
    color: $color-main-dark
    @media (max-width: 899px)
      font-size: 12px
      line-height: 110%

  .header-menu__item
    margin: 0 !important
    padding: 0 12px
    opacity: 1 !important
    cursor: pointer
    line-height: 29px

    a
      display: flex
      align-items: center

    .link-block
      display: flex
      align-items: center
      cursor: pointer
      padding: 0

    svg
      padding: 7px 12px 6px 0
      opacity: 0.4
      transition: opacity 0.3s ease-in
    &.active
      .item__title
        font-weight: bold
        &::after
          content: ""
          border-bottom: $border-active-menu-item
          position: absolute
          width: 100%
          left: 0
          top: -28px
          @media (max-width: 899px)
            top: -31px
      svg
        opacity: 0.6

    &:hover
      svg
        opacity: 0.6


  .item__title
    position: relative
    font-weight: normal


  .search-string
    top: -1px
    max-width: 0
    right: 0
    transition: max-width 300ms linear
    border: $border-dark-02
    border-radius: 3px
    background-color: $color-white
    margin-right: 19px
    height: 40px
    position: absolute
    @media (max-width: $tablet-width)
      margin: 0
      right: 33px

    .wrapper
      width: auto
      height: 100%
      display: flex
      align-items: center
      visibility: hidden
      transition: visibility 300ms step-end

    input
      flex: 1 1 auto
      border: none
      outline: none
      height: calc(100% - 12px)

    .svg-icon
      fill-opacity: 0.3
      display: none
      padding: 0 8px
      &._pointer
        cursor: pointer

    svg
      fill: $color-main-dark

    .clear
      width: 12px


    &._visible
      max-width: 100%
      width: calc(100% - 19px)
      @media (max-width: $tablet-width)
        width: calc(100% - 33px)


      .wrapper
        visibility: visible


      .svg-icon
        display: flex

    &._hiding
      max-width: 0 !important
      width: calc(100% - 19px)
      .wrapper
        transition: none
        visibility: hidden !important




  &.opened
    .header-menu
      color: $color-white

    .header-menu__item
      svg
        fill: $color-white

      &.active
        .item__title::after
          border-color: $color-white




