@import "~tools/variables"

.billing-ver-2
  padding: 40px 40px 28px

  .payment-methods
    border: none

  .payment-methods
    padding: 0
    margin: 0

  .title-2
    margin: 20px 0 20px

  .payment-methods__list
    padding-bottom: 20px
    border-bottom: $border-dark-02

  .payment-form__footer-wrapper
    padding-top: 15px

    .fields-editors__block
      padding: 0 0 30px
      border-bottom: $border-dark-02

  .email__wrapper
    padding: 15px 0 0

  .payment-form__footer
    padding: 20px 0

  .main-dark
    color: $color-main-dark

  .secondary-dark
    color: $color-dark-06