.create-process-dialog
  max-height: calc(100% - 100px)
  overflow-y: auto
  &._with-custom-scroll
    &::-webkit-scrollbar-track
      border-radius: 8px 64px 64px 8px

    &::-webkit-scrollbar-thumb
      border-radius: 8px 64px 64px 8px
