@import "~tt-assets/styles/colors.sass"

.dictionary-users-page

  &.form
    min-height: calc(100vh - 64px)

  .filter-button
    position: absolute
    top: 33px
    right: 32px


.webix_ceil_text_row
  display: flex
  flex-flow: column

.remove-user-button
  margin-top: 12px

.users-table
  width: calc(98% - 24px)
