@import "~tt-assets/styles/colors.sass"

.process-page__header
  display: flex
  align-items: center

.process-page__field-name
  width: fit-content
  margin-left: 52px

.process-page__save-button
  margin-left: auto
  margin-right: 0

.header__back-arrow
  cursor: pointer

.header__process-state
  color: $color-main-light
  border-radius: 4px
  padding: 3px 10px
  margin-left: 21px

  &._draft
    background-color: $blue

  &._executing
    background-color: $yellow

  &._done
    background-color: $green

  &._error
    background-color: $red

