@import "~tools/variables.sass"
@import "~tools/mixins.sass"

.top-message__sale2022-popup
  background: #102B62 linear-gradient(#143198, #14319880)
  height: 140px
  display: flex
  justify-content: space-between
  overflow: hidden
  position: relative
  @media (max-width: $tablet-width)
    height: 64px

.sale2022-popup__wrapper
  position: absolute
  left: 50%
  transform: translateX(-50%)
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  width: 100%
  min-width: 1197px
  @media (max-width: $tablet-width)
    min-width: 533px

.sale2022-popup__image
  border: none
  outline: none
  top: 0
  z-index: 0
  height: 140px
  position: relative
  @media (max-width: $tablet-width)
    height: 64px

  &._with-background
    &:after
      content: ''
      background: #102B62 linear-gradient(#143198, #14319880)
      position: absolute
      height: 100%
      top: 0
      z-index: -1
    &._left
      &:after
        width: calc(100% - 35px)
        left: 0
    &._right
      &:after
        width: calc(100% - 45px)
        right: 0

  &._left
    left: 0
    margin-right: 125px
    @media (max-width: $tablet-width)
      margin-right: 50px

  &._center
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    position: absolute
    &._desktop
      display: block
      @media (max-width: $tablet-width)
        display: none
    &._mobile
      display: none
      @media (max-width: $tablet-width)
        display: block


  &._right
    right: 0
    margin-left: 125px
    @media (max-width: $tablet-width)
      margin-left: 50px


.sale2022-popup__stars-block
  position: absolute
  width: 100%
  z-index: -1

.sale2022-popup__star
  opacity: 0.6
  position: absolute
  &:before, &:after
    content: ''
    background-color: #FDD25C
    position: absolute

  &.big
    &:before
      width: 3px
      height: 1px
      left: 0
      top: 1px
    &:after
      width: 1px
      height: 3px
      left: 1px
      top: 0

  &.small
    width: 1px
    height: 1px
    background-color: #FDD25C

  &.left
    margin-left: -235px
    @media (max-width: $tablet-width)
      margin-left: -116px

  &.right
    margin-left: 235px
    @media (max-width: $tablet-width)
      margin-left: 116px

.sale2022-popup__close-button
  display: flex
  align-items: center
  position: absolute
  height: 100%
  right: 0

  .balloon-wrapper__close
    padding: 0
    margin: 0 20px
    height: 32px
    width: 32px
    border-radius: 50%
    background-color: $color-dark-03

    &:before, &:after
      background-color: $color-white-06

    &:hover
      background-color: $color-dark-06
      &:before, &:after
        background-color: $color-white

