.periods-find-form
  max-height: 450px
  overflow: hidden
  min-width: 500px
  display: flex
  flex-flow: column nowrap
  gap: 15px

.finded-periods-table
  max-height: 380px
  overflow: hidden

.periods-find-form__field
  display: flex
  flex-flow: row nowrap
  gap: 20px

  .search-button
    min-width: 100px

.add-selected
  display: flex
  align-items: center
  width: 200px
