.confirmation-of-publication
  display: flex
  flex-flow: column nowrap
  width: 450px
  height: 250px

  .actions
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    align-items: baseline
