.notifications-page
  position: relative

  &.form
    overflow: auto
    min-height: calc(100vh - 64px)

  .filter-button
    position: absolute
    top: 33px
    right: 32px


.webix_ceil_text_row
  display: flex
  flex-flow: column

.notifications-table
  width: calc(98% - 24px)
  overflow: auto
  div
    &:first-child
      overflow: auto


.notif-not-read
  font-weight: bold !important
  background: rgba(0, 0, 0, 0.13) !important
