.register-block__btn--fullwidth
  width: 100%
  position: relative
  svg
    width: 16px
    height: 16px
    position: absolute
    left: 60px

.register-form__field-wrapper
  .status-icon svg
    display: block
