@import "~tools/variables"

.test-page__cover
  height: 100%
  position: relative
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover
  background-position: top center

  .margin-block
    height: 100%
    margin: 0 8.333%
    @media(max-width: 899px)
      margin: 0 36px
    @media(max-width: 639px)
      margin: 0 20px

  .flex-column-block
    display: flex
    flex-direction: column
    justify-content: flex-end

  .test-page__info
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    width: 70%
    color: $color-white
    max-width: unset
    @media(max-width: 899px)
      width: 50%
    @media(max-width: 639px)
      width: 100%
      max-width: 279px

  .title
    font-family: $font-pt
    font-weight: normal
    font-size: 52px
    line-height: 110%

    margin: 0 0 18px 0
    letter-spacing: -0.02em
    @media(max-width: 899px)
      font-size: 29px
      letter-spacing: -0.01em
      margin-bottom: 10px

  .title__course-pay-status
    margin-right: 13px
    margin-left: 7px

    svg
      top: 50%
      transform: translateY(-50%)


  .title__label
    vertical-align: initial
    position: relative
    font-style: italic
    display: inline-block
    margin: 0 13px 0 0
    letter-spacing: normal
    @media(max-width: 899px)
      top: 3px

  .detail
    font-family: $font-fira
    color: $color-white
    font-size: 17px
    line-height: 24px

    .info__detail-item
      display: inline


  .test-page__info-separator
    font-size: 17px
    margin: 0 5px
    @media(max-width: 899px)
      font-size: 12px

  .start-button__block
    margin: 23px 0 36px
    display: flex
    flex-direction: row
    width: auto
    max-width: unset
    @media(max-width: 639px)
      width: 100%
      flex-direction: column
      max-width: 279px

    .start-button
      padding-left: 0
      padding-right: 0
      width: 267px
      height: 26px
      cursor: pointer
      flex-basis: auto
      @media(max-width: 899px)
        flex-basis: 50%
      @media(max-width: 639px)
        flex-basis: auto
        width: 100%

    .btn--brown.disabled
      background-color: rgb(196, 196, 196)

    .social-block
      height: 48px
      margin-left: 20px
      margin-top: 0
      flex-basis: auto
      @media(max-width: 899px)
        flex-basis: 50%
      @media(max-width: 639px)
        flex-basis: auto
        margin-left: 0
        margin-top: 18px

    .social-button-wrapper
      width: 81px
      @media(max-width: 899px)
        flex-basis: 29%
        width: auto
        max-width: none

      &:last-of-type
        width: 38px
        @media(max-width: 899px)
          flex-basis: 13%
