.field-wrapper
  display: flex
  border-width: 0px
  margin-left: 17px
  margin-top: 8px
  color: #666
  &__editor-wrapper
    width: calc(100% - 240px)
    display: flex
    flex-direction: column

.field-label
  font-family: 'PT Sans',Tahoma
  width: 240px
  font-size: 15px
  text-align: left
  line-height: 32px
  float: left
  padding-top: 1px
  padding-left: 3px
  padding-right: 7.5px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.field-input
  height: 100%
  color: #666
  font-size: 15px
  background: #fff
  font-family: 'PT Sans', Tahoma
  border-color: #ccc
  margin: 0
  padding: 0
  float: left

.field-checkbox
  height: 30px
  font-size: 25px
  transform: scale(1.3)

.field-textarea
  border: 1px solid #ddd
  height: 100%
  margin: 0
  padding: 5px 10px
  color: #666
  resize: vertical
  font-size: 15px
  border-radius: 5px
  width: 100%
  min-height: 80px
  max-height: 300px
  overflow: auto
