.field-wrapper
  display: flex
  border-width: 0px
  margin-left: 17px
  margin-top: 8px
  color: #666
  &__editor-wrapper
    width: calc(100% - 240px)
    display: flex
    flex-direction: column

.grid-label
  font-family: 'PT Sans',Tahoma
  width: 100%
  background-color: #268fd5
  margin-top: 7px
  padding-left: 7px
  color: #fff
  font-size: 15px
  text-align: left
  line-height: 32px
  float: left
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.field-label
  font-family: 'PT Sans',Tahoma
  width: 240px
  font-size: 15px
  text-align: left
  line-height: 32px
  float: left
  padding-top: 1px
  padding-left: 3px
  padding-right: 7.5px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  &.disabled
    color: #999999

.field-input
  height: 100%
  color: #666
  font-size: 15px
  background: #fff
  font-family: 'PT Sans', Tahoma
  //border-color: #ccc
  border-radius: 5px
  border: 1px solid #ddd
  outline: none
  margin: 0
  padding: 0
  float: left
  &:disabled
    background-color: #e1e1e1
    color: #999999

  &:focus
    border-color: #0d95e8
  &::placeholder
    color: #b2b2b2
    font-size: 14px

.field-text
  padding: 0 8px 0 8px

  height: 33px

.field-checkbox
  height: 30px
  font-size: 25px
  transform: scale(1.3)
  -webkit-transform: scale(1.2)
  width: fit-content
  width: -moz-fit-content

.field-textarea
  border: 1px solid #ddd
  height: 100%
  margin: 0
  padding: 5px 10px
  color: #666
  resize: vertical
  font-size: 15px
  border-radius: 5px
  //width: 100%
  min-height: 80px
  max-height: 300px
  overflow: auto
  &.disabled
    background-color: #e1e1e1
    color: #999999
  &:focus
    border-color: #0d95e8
  &.plain-text
    white-space: pre-line
    display: inline-block
    &.disabled
      min-height: 92px

.form__error-message
  display: block
  position: relative
  margin: 3px 0 3px 0
  text-align: center
  font-family: "Fira Sans", Arial, sans-serif
  font-size: 15px
  line-height: 25px
  color: #E02F37

.field-select
  height: 33px
.select__empty_value
  color: #b2b2b2
  font-size: 14px

.cover-wrapper
  display: flex
  &__controls
    margin-top: 5px
    display: flex
    height: 33px

.cover-control
  margin: 0 2px 0 5px
  &__btn
    border: 1px solid #ddd
    border-radius: 5px
    height: 100%
    width: 33px
    font-size: 15px
    cursor: pointer

.group-box
  padding: 8px 4px 8px 4px
  display: flex
  flex-direction: column
  border-radius: 5px
  border: 1px solid #ddd
  margin-top: 8px
  margin-left: 17px
  &__title
    font-family: 'PT Sans',Tahoma
    width: 100%
    background-color: #268fd5
    padding-left: 7px
    color: #fff
    font-size: 15px
    text-align: left
    line-height: 32px
    float: left
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box