.field-wrapper__editor-wrapper
    .rdt
        height: 100%
        width: 200px

        input[type="text"]
            width: 200px
            height: 100%
            color: #666
            font-size: 15px
            background: #fff
            font-family: 'PT Sans', Tahoma
            border-radius: 5px
            border: 1px solid #ddd
            outline: none
            margin: 0
            padding: 0 0 0 7px
            float: left


    .rdtOpen .rdtPicker
        top: 35px