@import "#src/assets/styles/colors"

.webix__image-cell
  .image-cell
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &._horizontal
      width: -webkit-fill-available
      height: auto

    &._vertical
      height: -webkit-fill-available
      width: auto
