.course-module._fixed
  //padding: 0
  padding-left: 8.333%
  padding-right: 8.333%
  min-height: auto
  padding-bottom: 4px
  border-bottom: none
  @media (max-width: 899px)
    padding-right: 36px
    padding-left: 36px
    padding-bottom: 8px
  @media (max-width: 639px)
    padding-right: 20px
    padding-left: 18px
    padding-bottom: 8px
    border-bottom: 1px solid rgba(47, 47, 47, 0.15)

  .course-module__description-block 
    padding: 60px 0 0 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-box-flex: 0
    -webkit-flex: none
    -moz-box-flex: 0
    -ms-flex: none
    flex: none
    width: 33.332vw
    font-family: "Fira Sans", Arial, sans-serif
    font-size: 15px
    line-height: 18px
    @media (max-width: 899px)
      width: 50%
      padding-top: 38px
    @media (max-width: 639px)
      width: 100%
      padding-top: 0

    .course-module__descr
      margin: 0 0 35px
      max-width: 470px
      @media (max-width: 639px)
        display: block
        margin-bottom: 18px

    .course-module__price-block
      position: relative
      margin-bottom: 80px

    .course-module__price-btn
      min-width: 120px
      @media (max-width: 639px)
        min-width: 108px

    .course-module__price-block-section
      margin-left: 18px

  .course-module__info-block
    display: inline-block
    vertical-align: top
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 49px 50px 30px 0
    -webkit-box-flex: 0
    -webkit-flex: none
    -moz-box-flex: 0
    -ms-flex: none
    flex: none
    width: 49.498vw
    @media (max-width: 899px)
      width: 50%
      padding-right: 30px
      padding-top: 33px
    @media (max-width: 639px)
      width: 100%
      padding: 30px 0 2px

    .course-module__header
      @media (max-width: 639px)
        padding-right: 0

    .favourites
      top: 10px
      left: -39px
      @media (max-width: 899px)
        top: 1px
        left: -13px
      @media (max-width: 639px)
        top: 5px
        left: -14px

    .course-module__label-icon
      margin-left: 3px
      margin-top: -3px
      padding-left: 0px
      margin-right: 8.5px

    .course-module__label
      letter-spacing: 0
      font-style: italic

    .course-module__title
      margin-bottom: 23px
      @media (max-width: 899px)
        margin-bottom: 15px
      @media (max-width: 639px)
        line-height: 29px

      span
        padding-left: 1px
        margin-left: 11px


    .course-module__info
      margin-left: 0

    .course-module__stats
      letter-spacing: 0
      @media (max-width: 639px)
        font-size: 15px