@import "~tools/variables.sass"

.lesson-tooltip
  display: flex
  background-color: $color-white
  border-radius: 4px
  max-width: 460px

  .play-block
    width: 96px
    min-width: 96px
    height: 96px
    margin: 16px

  .play-block__image-wrapper
    width: 96px
    height: 96px

  .play-block__loader
    width: 96px
    height: 96px

  .svg-loader
    width: 96px
    height: 96px

  .lecture__btn svg
    fill: $color-white

  .lesson-tooltip__caption
    display: flex
    flex-direction: column
    justify-content: center
    margin: 16px 16px 16px 0

  .caption__title
    color: $color-orange
    margin-bottom: 5px

  .text
    border-bottom: $border-hidden-link
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    &:hover
      border-bottom: $border-orange-03

  .number
    color: $color-orange

  .play-block-mobile
    display: none
