@import "~tools/variables.sass"

.lesson__switch-buttons__block


.lesson__switch-button
  right: 40px
  width: 110px
  text-align: center
  z-index: 1000

  &._to-text
    position: fixed
    bottom: 90px

  &._to-player
    position: fixed
    bottom: 160px