@import "~tt-assets/styles/colors.sass"

.ui-kit__text-box-with_confirm
  display: flex
  align-items: center
  border: 1px dashed #9696A0
  background-color: $grey01
  transition: border, background 300ms ease-in-out
  border-radius: 8px
  box-sizing: border-box

  .MuiOutlinedInput-root:hover input:not(.Mui-disabled)
    background-color: transparent !important

  .MuiOutlinedInput-root
    height: 48px
  .MuiOutlinedInput-root input
    border: none !important

  &._read-only
    background-color: transparent
    border-color: transparent
    .MuiOutlinedInput-root input
      cursor: default !important
      color: $grey100 !important

.text-box-with_confirm__button
  cursor: pointer
  margin-left: 14px
  &:only-of-type
    margin-left: 20px
    margin-right: 5px
  &:first-of-type
    margin-left: 20px
  &:last-of-type
    margin-right: 5px




