@import "~tools/variables.sass"

.lecture-frame
  .lecture-frame__text-block
    margin: 20px 0 38px
    @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
      margin: 15px 0 10px

  .progress-bar
    @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
      margin-top: 5px

  .test-buttons-block
    flex-wrap: wrap
    //margin-bottom: 30px

  .social-block
    margin-top: 30px

  .lecture-frame__descr
    color: $color-white

  .lecture-frame__author
    color: $color-white
    margin: 0

  .title-text
    color: $color-white

  @media (max-width: $tablet-width)
    .lecture-frame__play-btn svg
      width: 57px
      height: 52px

  @media (max-width: $mobile-phone-width), (max-height: $mobile-phone-width)
    .title-paragraph
      line-height: 100%
    .title-text
      line-height: 120%
    .lecture-frame__title .number
      font-family: $font-fira
      font-style: normal
      font-weight: bold
      font-size: 17px
      line-height: 130%
    .lecture-frame__author
      font-size: 14px
      line-height: 130%