@import "~tools/variables.sass"

.lecture-frame
  .progress-bar
    @media (max-width: $mobile-phone-width)
      margin-top: 5px

  .test-buttons-block
    flex-wrap: wrap
    margin-bottom: 27px
    @media (max-width: $mobile-phone-width)
      margin-bottom: 15px

  .social-block
    margin-top: 10px

  .lecture-frame__descr
    color: $color-white

  .lecture-frame__author
    color: $color-white

  .title-text
    color: $color-white