@import "~tools/variables"

.payment-methods__list
  padding-bottom: 20px
  border-bottom: $border-dark-02

.payment-form__footer-wrapper
  padding-top: 20px
  .fields-editors__block
    padding: 0 0 30px
    border-bottom: $border-dark-02
    @media (max-width: 767px)
      padding: 0 20px 20px

  .subscription-form
    padding: 29px 20px 20px

  .form__field
    border-radius: 3px

  .email__wrapper
    padding: 15px 0 0

  .promo__wrapper
    border: none
    padding: 30px 0 0
    @media (max-width: 767px)
      padding: 20px 0 0


.main-dark
  color: $color-main-dark !important

.secondary-dark
   color: $color-dark-06 !important