@import "~tools/variables"

.course-page__statistic
  .social-block
    margin: 17px 0 0 14px

    .social-button-wrapper
      border: none
      margin: 0

    .social-btn
      border: none
      display: flex
      flex-direction: column

    @media (max-width: 899px)
      display: none