@import "~tools/variables"

.mobile-menu

  .filters-list
    display: flex
    flex-wrap: wrap
    font-family: $font-fira
    font-style: normal
    font-weight: normal

  .filter-item
    flex-basis: 50%

  .filter-btn__title
    margin: 0
    float: left
    cursor: pointer