@import "~tt-assets/styles/colors.sass"


.rs-picker-select-menu-item.rs-picker-select-menu-item-active, .rs-picker-select-menu-item.rs-picker-select-menu-item-active:hover
  color: $grey50 !important

.filter-button
  position: relative
  display: flex
  cursor: pointer
  align-items: center
  &._opened:before, &._closed:before
    content: ""
    position: absolute
    left: -10px
    width: 8.5px
    height: 8.5px
    border: 2px solid #C8684C
    border-left: none
    border-top: none
    -webkit-transition: -webkit-transform 0.3s ease
    transition: -webkit-transform 0.3s ease
    transition: transform 0.3s ease, -webkit-transform 0.3s ease
  &._closed:before
    -webkit-transform: translateY(-50%) rotate(45deg)
    -ms-transform: translateY(-50%) rotate(45deg)
    transform: translateY(-50%) rotate(45deg)
    top: 7px

  &._opened:before
    -webkit-transform: translateY(-50%) rotate(-135deg)
    -ms-transform: translateY(-50%) rotate(-135deg)
    transform: translateY(-50%) rotate(-135deg)
    top: 11px

  &:after
    content: ""
    width: 6px
    height: 6px
    border-radius: 50%
    position: absolute
    background-color: $grey20
    top: 0
    right: 0
    transition: background-color 300ms ease-in-out
  &._active:after
    background-color: $orange


.filter-button__title
  color: #C8684C
  font-family: Inter
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 17px
  letter-spacing: 0.75px
  margin-right: 8px
  padding-left: 10px

.filter-block
  max-height: 0
  transition: max-height 300ms ease
  & > *
    visibility: hidden
  &._visible
    max-height: 1000px
    & > *
      visibility: visible

.filter-row
  display: flex
  justify-content: space-between
  box-sizing: border-box

.filter-block__buttons
  display: flex
  padding: 28px 0

.filter-block__clear-button
  display: flex
  cursor: pointer
  align-items: center
  ._title
    margin-left: 8px
    color: #C8684C
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 17px
    text-align: right
    letter-spacing: 0.75px

.filter-row__field:not(:last-of-type)
  padding-right: 16px


.filter-row__field-wrapper
  position: relative
  width: 100%
  height: auto

.filter-row__field-input
  position: relative
  width: 100%
  height: 40px
  font-family: Inter
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 22px
  letter-spacing: 0.25px
  color: $grey50
  border: 1px solid #D2D2D6
  box-sizing: border-box
  border-radius: 8px
  &._text
    padding: 9px 8px
  &._select
    padding-top: 2px
    .rs-picker-toggle-value
      color: $grey50 !important

  .rs-picker-toggle
    border: none !important
    height: 100%
    width: 100%
    padding: 9px 8px
    color: $grey50

  .rs-picker-default .rs-picker-toggle
    border: none

.field-input__clear-button
  position: absolute
  right: 5px
  top: 5px
  padding: 15px
  font-size: 0
  cursor: pointer
  background-color: transparent
  &:before, &:after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    width: 14px
    height: 1px
    background-color: $grey40
    -webkit-transition: background-color 0.3s ease
    transition: background-color 0.3s ease
  &:before
    -webkit-transform: translate(-50%, -50%) rotate(45deg)
    -ms-transform: translate(-50%, -50%) rotate(45deg)
    transform: translate(-50%, -50%) rotate(45deg)
  &:after
    -webkit-transform: translate(-50%, -50%) rotate(-45deg)
    -ms-transform: translate(-50%, -50%) rotate(-45deg)
    transform: translate(-50%, -50%) rotate(-45deg)
  &:hover
    &:before, &:after
      background-color: $orange

.filter-block__apply-button
  padding: 12px 16px
  height: 40px

.filter-block__buttons
  justify-content: space-between


.rs-picker-menu
  border-radius: 8px
  &.rs-picker-check-menu
    margin-top: 8px

.rs-check-item .rs-checkbox-checker > label
  font-family: Inter
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.25px
  color: $grey70

.rs-checkbox-wrapper::before
  border: 2px solid $grey60 !important
  box-sizing: border-box
  border-radius: 1px !important

.rs-picker-value-item
  color: $grey70

.rs-picker-value-count
  background-color: $grey40!important
