@import "~tools/variables"

.course-page__statistic
  box-sizing: border-box
  min-width: 25%
  margin-right: 8.333%
  padding-left: 48px
  @media (max-width: 899px)
    padding: 0
    margin-left: 36px
    margin-right: 36px
  @media (max-width: 639px)
    padding: 0
    margin-left: 20px
    margin-right: 20px

  .course-page__statistic-wrapper
    display: flex
    flex-direction: column
    margin-top: 2px
    width: calc(25% - 48px)
    position: absolute
    &._fixed
      width: calc(25% - 48px)
      position: fixed
      //margin-top: 157px
      margin-top: 57px
      margin-top:
      top: 0
      bottom: auto
    @media (max-width: 899px)
      margin: 0
      position: relative
      width: 100%
    &._bottom
      bottom: 422px
      top: auto

  .statistic__play-block
    display: flex
    //@media (max-width: 899px)
      display: none

    &._free-lesson
      margin: 29px 0

  .play-block__wrapper
    width: 126px
    height: 126px
    margin-right: 24px
    @media (max-width: 1679px)
      width: 79px
      height: 79px
    @media (max-width: $tablet-width)
      width: 84px
      height: 84px
    @media (max-width: $mobile-phone-width)
      width: 56px
      height: 56px

  .play-block
    margin: 0
    padding: 0
    width: 79px
    height: 79px
    min-width: auto
    @media (max-width: $tablet-width)
      width: 84px
      height: 84px
      min-width: 84px
    @media (max-width: $mobile-phone-width)
      width: 56px
      height: 56px
      min-width: 56px

  .play-block__btn svg
    width: auto
    @media (max-width: 1679px)
      width: 25px



  .play-block__info-wrapper
    display: flex
    flex-basis: calc(66% - 24px)
    flex-direction: column
    justify-content: center
    font-family: $font-fira
    font-size: 14px
    line-height: 17.4px
    .info-wrapper__title
      color: $color-orange
      &._full
        display: block
        @media (max-width: 1199px)
          display: none
        @media (max-width: $tablet-width)
          display: block
        @media (max-width: $mobile-phone-width)
          display: none
      &._short
        display: none
        @media (max-width: 1199px)
          display: block
        @media (max-width: 899px)
          display: none
        @media (max-width: $mobile-phone-width)
          display: block

    .info-wrapper__lesson
      color: $color-main-dark
      overflow: hidden
      text-overflow: ellipsis
      -webkit-line-clamp: 2
      max-height: 34.8px
      display: -webkit-box
      -webkit-box-orient: vertical
      @media (max-width: 1199px)
        display: none
      @media (max-width: $tablet-width)
        display: block
      @media (max-width: $mobile-phone-width)
        display: none

  .course-module__price-block-info
    padding: 0 0 17px
    width: 100%

    //.price-block-info_expire-date
    //  display: inline-block
    //  white-space: pre-line



  .lecture-full__play-block
    padding: 0

  .play-block__loader, .play-block__loader:after, .svg-loader
    margin: 0
    padding: 0
    width: 100%
    height: 100%

  .lecture-full__play-block
    width: 100%

  .play-block__duration
    display: none

  .pay-button
    margin-bottom: 18px

  .course-module__price-block
    //margin-bottom: 0
    //&._no-description
      margin-bottom: 23px
    @media (max-width: 899px)
      display: none

  .course-module__price-block-wrapper
    flex-direction: column
    align-items: flex-start

  .course-module__price-btn
    order: 2
    width: 100%

  .course-module__price-block-section
    align-self: flex-start
    margin-left: 0
    flex-direction: row
    align-items: flex-end
    margin-bottom: 8px

    .course-module__price
      order: 1
      margin-left: 8px
      .discount
        margin-bottom: 0
    .course-module__old-price
      order: 0

    p:only-child
      margin-left: 0

  .course-module__gift-button
    margin-bottom: 18px
    .btn-white
      width: 100%
    &:not(._always-visible)
      @media (max-width: 899px)
        display: none

  .svg-loader circle
    stroke-width: 6px

  .bought-course__buttons-block
    position: relative
    display: flex
    flex-direction: column
    @media (max-width: $tablet-width)
      flex-direction: row

      div
        margin: 0
        flex: 1 1 50%

      div:first-child:not(:only-child)
        margin-right: 10px

      div:nth-child(2)
        margin-left: 10px

    @media (max-width: $mobile-phone-width)
      div:first-child:not(:only-child)
        margin-right: 4px

      div:nth-child(2)
        margin-left: 4px

  &._bought
    .statistic__play-block
      order: 1

    .course-statistic__progress
      order: 2
      margin-top: 5.5px

    .statistic__data-wrapper
      order: 2
      margin-top: 20px

    .bought-course__buttons-block
      order: 3
      margin-top: 28px

    .social-block
      order: 4

    .data__info-block, .data__header-block
      padding: 15.5px 0
