{
  "presets": ["es2015", "stage-0", "react", "env"],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-assign",
    "es6-promise",
    "transform-decorators-legacy"
  ]
}
